[2015-06-19 22:32] lzumbach opened #1 "Only GeoJSON FeatureCollection?"
It looks like the GeoJSON parsing only works if you have a FeatureCollection?  The GeoJSON I use does not use that.  It has a type of Feature.  I can send you some samples if that helps.

Thanks!

[2015-06-20 16:08] andreacremaschi commented on #1
Ouch you're right, as it seems I misunderstood that part of the specification.. I'll correct that as soon as possible. Thank you

[2015-06-23 12:29] andreacremaschi commented on #1
Hey @lzumbach this issue should be fixed, can you confirm that everything is working for you?
You should redirect your `Podfile` to use the last commit in `develop`, like this:

[code]

[2015-06-23 13:56] lzumbach commented on #1
I think it is working but I think I am doing something wrong when I try to convert to a MapKit overlay:
                if let fieldgeom = Geometry.fromGeoJSON(url!) {
                    let fieldgeom = fieldgeom[0] as? MultiPolygon
                    let shape = fieldgeom?.mapShape() as? MKPolygon
                    mapView.addOverlay(shape)
                }
Not sure I understand how mapShape

[2015-06-23 14:17] lzumbach commented on #1
{"id":null,"geometry":{"coordinates":[[[
  [
    -91.638232603671142,
    42.149637959173383
  ],
  [
    -91.638232554764926,
    42.14963796031703
  ],
  [
    -91.638232505973164,
    42.149637963851063
  ],
  [
    -91.638232457412627,
    42.149637969767021
  ],
  [
    -91.6382324091995,
    42.149637978050755
  ],
  [
    -91.638232361449184,
    42.149637988682436
  ],
  [
    -91.63823231

[2015-06-23 15:37] andreacremaschi commented on #1
Hi,

thank you for the reply, I found another issue in the code that creates the MKShape (`pod install` again to fix).

I can confirm that the GEOJSON you posted is being parsed correctly.
There is a syntax error in the way you handle optionals in the snippet you pasted above (compare with mine, you weren't unwrapping the optional). As the geometry is a `MultiPolygon` the returned shape will not b

[2015-06-23 16:59] lzumbach commented on #1
I'm sorry I'm not getting a MKShapesCollection.  Maybe if the MultiPolygon is just a single polygon it is just trying to give a MKShape.  I guess I am looking to get back a collection of MKPolygons, which in the case of the example I gave just has one....Or maybe I just need a break.  Thanks for your help!

[2015-06-24 07:36] andreacremaschi commented on #1
Ugh. Two errors in my snippet of code (one missing comma, one extra question mark). Here it is the correct version:

[code]

Please be sure to execute again `pod install` since I committed some relevant changes yesterday.

[2015-06-24 12:39] #1 closed

[2015-08-05 23:27] jeffd opened #3 "'geos/geos_c.h' file not found"
Checked out the code from master, then built from CocoaPods and tried compiling the framework and I'm getting *'geos/geos_c.h' file not found* build errors in GEOSwiftCallback.h at Line 9.

I originally had trouble running *pod install* but followed the instructions in the README and after installing autoconf, automake and glibtool I was able to get *pod install* working.

I am trying to compile f

[2015-08-06 13:55] andreacremaschi commented on #3
Hi,
just try cloning the project and execute ```pod install``` again from scratch, you seem to experience this same issue: https://github.com/andreacremaschi/SpatialDBKit/issues/24

[2015-08-18 21:04] Neku opened #4 "ParseGEOJSONObject should be a public API"
Hi,
I'm wondering why the only way to feed geojson from a library is through a file.
A common case is to parse part of a JSON response, so it would be great to have a public api that takes a dictionary.

[2015-08-18 23:39] andreacremaschi commented on #4
Well, I see your point and I think you are right. The best place to add the feature you ask would be a public func in the Geometry class extension declared in GEOJSON.swift, what do you think?
I will leave the issue open as a remainder and implement it as soon as I can, but I could accept a PR as well :)

[2015-08-22 13:45] #3 closed

[2015-08-29 17:43] andreacremaschi commented on #4
hi @Neku this has been addressed in GEOSwift 0.2.1. I added a method with this interface:

[code]

Does it solve your needs?

[2015-09-02 14:22] alsidor opened #5 "There is no way to create Geometry objects from coordinates"
Hi.
Looks like it's not possible to create Waypoint or Polygon or any other Geometry from given coordinates.
But it would be very useful. Like in ShapeKit.

Could you add this initialisers?

Thanks in advance
Alexander

[2015-09-18 12:14] Neku commented on #4
Yes, thank you very much.

[2015-09-18 12:14] #4 closed

[2015-09-18 12:16] Neku opened #6 "Xcode 7 / Swift 2 compatibility"
The project doesn't currently compile on Xcode 7 and doesn't seem easy to fix.
Is anyone currently on it?

[2015-09-18 12:18] Neku opened #7 "MKShapesCollection doesn't expose his shapes array"
When I was trying to render the my shapes collection as on overlay on a MKMapView I realised that shapes wasn't public.
This: https://github.com/Neku/GEOSwift/commit/ab599efddc365416c91bcd650b877fda6b6d34c2 fixed it for me, but I was wondering if it is a mistake or there is some other way to get them.

[2015-09-18 21:55] andreacremaschi commented on #6
Yes, there is a branch "feature/Swift-2.0" ready to be released. You can already make the pod declaration in your ```Podfile``` point to that branch if you need it.

[2015-09-21 13:35] Neku commented on #6
Tried to merge it to master with little success.
I'll wait. Thank you and keep up the good work.

[2015-09-29 19:14] chriswiggins opened #8 "Circle functionality?"
Loving this framework, makes parsing GeoJSON so much simpler!

Looking to extend the functionality in here by adding support for circles. GeoJSON doesn't strictly have a "Circle" feature however convention states that you create a Point and then in the properties for the feature you have the radius.

Happy to submit a PR but just wondering where the best place to start would be.

Cheers

[2015-09-29 19:14] chriswiggins commented on #8
MapKit supports Circles with its MKCircle class too

[2015-09-30 09:33] andreacremaschi commented on #8
Hi Chris,

thank you for your love for the project! :beer:

I see two issues with integrating support for circles into GEOSwift.
The first, easy one: the GEOJSON parser at the moment just ignores the features' properties. I have in plan to add support for them but actually it is not possible.
The second one is that the project is based on a C library named GEOS, that doesn't support circles. Nothi

[2015-09-30 09:35] andreacremaschi commented on #7
No no you're correct, my mistake!
Thanks

[2015-09-30 09:35] #7 closed

[2015-09-30 09:42] andreacremaschi commented on #7
fixed on branch ```Swift-2.0```: https://github.com/andreacremaschi/GEOSwift/commit/932317c98ddc48fd18cbade1b1af5982293e81bf

[2015-09-30 19:35] chriswiggins commented on #8
Yeah, that works fine for me! I suppose I'll just need to check whether or not the properties object has a radius specified and if so apply the necessary modifications

Thanks so much.

[2015-09-30 19:35] #8 closed

[2015-10-01 08:34] andreacremaschi commented on #8
Ok happy to hear

[2015-10-08 10:02] vinz84 opened #9 ""difference" function on Geometry multiple Polygones"
The diffence function will not work with the following example:

[code]
Result:
![ios-simulator-screen-shot-08 10 2015-11 47 22](https://cloud.githubusercontent.com/assets/100338/10363331/414f9562-6db4-11e5-89e3-f9e733dc4d7d.jpg)

The second Geometry:

[code]
Result:
![ios-simulator-screen-shot-08 10 2015-11 48 06](https://cloud.githubusercontent.com/assets/100338/10363337/495f128c-6db4-11e5-8e11-

[2015-10-08 11:42] vinz84 commented on #9
my mistake, the job can do with double check the polygone before i create the europe-polygone with

[code]
so check every object in unionArray of interiorPolygons and add them to the unionArray too.

[2015-10-08 11:42] #9 closed

[2015-10-23 14:48] vinz84 commented on #6
This Branch will not compile for objective-c Project…

[code]

Will display: "Use of undeclared identifier 'Geometry'"

Any ideas to fix this problem?

[2015-10-23 15:00] Neku commented on #6
I think atm it doesn't even work for swift2

[2015-11-02 11:35] andreacremaschi commented on #6
Hey I've just released the version 0.3.0, now it should be working with Xcode 7+ and Swift 2+
@vinz84 are you still trying to integrate it in your Objective-C project? Is it working for you?

[2015-11-13 08:34] feinstruktur opened #10 "ITMS-90060 invalid bundle id"
The geos dependency of 3.4.2a prevents submission to the app store. I’ll take a stab at fixing it and opening a PR.

![screen shot 2015-11-13 at 08 29 01](https://cloud.githubusercontent.com/assets/65520/11141888/46cd5904-89e1-11e5-991e-87ea3a7d1b81.png)

[2015-11-13 12:45] andreacremaschi commented on #10
Ugh. Thank you for the heads up, what's your idea for the PR?

[2015-11-13 13:21] feinstruktur commented on #10
I wish I had one =) I was thinking I’d go in and tweak the upstream version number but I’m not familiar enough with the cocoapods build structure.

I guess one could always run a script phase at the end in GEOSwift and strip out the character, like so
[code]
but it feels a bit hacky.

[2015-11-13 17:55] andreacremaschi commented on #10
Ok, just change the value by hand before submitting. I am the mantainer of the geos pod and I was going to update it for the 3.5.0 anyway. I'll do it ASAP

[2015-11-14 15:16] feinstruktur commented on #10
Ok, I'll got for that. Thanks!

[2015-11-18 01:28] vfn opened #11 "MultiPolygon mapShape crash"
When attempting to generate a shape from a MultiPolygon instance, the following crash happens in the switch's default case:

[code]

The commit https://github.com/Homely/GEOSwift/commit/13988a13d6a396a0f0d44cdb2904f2cff61c1c92 fixes the problem. Unfortunately I could not find a way to handle that on a generic fashion. I'm happy to change the code if a better solution exists.

A test multipolygon c

[2015-11-18 06:08] vfn opened #13 "Pod geos 3.4.2a causes iTunes Connect rejection"
Is it possible to update the podspec for lib GEOS, to a version that doesn't contain a letter. The current version `3.4.2a` generates the following error when submitting to iTunes Connect:

[code]

[2015-11-18 08:51] andreacremaschi commented on #13
Closing as it is a duplicate of https://github.com/andreacremaschi/GEOSwift/issues/10

[2015-11-18 08:51] #13 closed

[2015-11-18 09:04] andreacremaschi commented on #11
Hi @vfn and thank you! :beer:

`MultiPolygon` is a subclass of `GeometryCollection`, so it is not clear to me why `GEOSwift.MultiPolygon<GEOSwift.Polygon>` can't be cast to `GEOSwift.GeometryCollection<GEOSwift.Geometry>`. I suppose it has something to do with generics.
I prefer to wait a bit before merging your PR, as it would not solve the issue for geometry collections with mixed geometry type

[2015-11-18 11:24] vfn commented on #11
@andreacremaschi I don't understand why it cannot infer the type and also fails on casting to GeometryCollection<Geometry>.

I did try what you suggested, but the default case is triggered instead of:
[code]

Regarding the PR, there are a few other tweaks there that you might want to merge or cherry pick. (e.g.: https://github.com/Homely/GEOSwift/commit/693601d357b2970cf92be5c002c15c35e82d7717)

[2015-11-18 15:05] andreacremaschi commented on #11
Ah ok, thank you. I decided to merge the PR, and look at this ASAP

[2015-11-25 17:31] Thornaci opened #14 "Pod install error"
Hi. I am new at apple. i can't  solve this. When i write pod install it gives error. When i delete pod geoswift it works. My podfile
source 'https://github.com/CocoaPods/Spces.git'
platform :ios, '8.0'
use_frameworks!

pod 'Alamofire', '~> 3.0'
pod 'GEOSwift'

[2015-11-26 07:05] vfn commented on #14
@Thornaci can you please post the error message you are getting?

Have you read the note below, extracted from the readme file?

* Run `pod install`.

NOTE: running `pod install` may cause some errors if your machine does not have autoconf, automake and glibtool, if you encounter those errors you can run `brew install autoconf automake libtool` to install those packages and run again `pod install`

[2015-11-26 17:44] Thornaci commented on #14
Thornaci-MacBook-Pro:deneme Thornaci$ pod install
Updating local specs repositories
Analyzing dependencies
Downloading dependencies
Using Alamofire (3.1.3)
Installing GEOSwift (0.3.0)
Installing geos (3.4.2a)

[!] Error installing geos
[!] /usr/bin/svn export --non-interactive --trust-server-cert --force https://svn.osgeo.org/geos/tags/3.4.2 /var/folders/jm/v6xncwpn3bx9t7lw55fb_lbr0000gn/T/d201511

[2015-11-26 21:53] vfn commented on #14
@Thornaci are you behind a proxy by any chance?

Can you open the URL https://svn.osgeo.org/geos/tags/3.4.2 on your browser?

Have a look at how to setup svn to work with a proxy
http://stackoverflow.com/questions/1491180/how-to-configure-a-http-proxy-for-svn

[2015-11-27 07:52] Thornaci commented on #14
Thank you the problem solved :)

[2015-11-27 07:52] #14 closed

[2015-12-15 11:16] andreacremaschi commented on #10
fixed in release 0.3.1, closing

[2015-12-15 11:16] #10 closed

[2015-12-15 11:16] andreacremaschi commented on #6
no answers. well, it is working for me, so.. :)
closing

[2015-12-15 11:16] #6 closed

[2016-02-04 15:07] davidganster opened #15 "Xcode 7.2 code completion"
Hi,

I'm trying to use this pod in my project, but cannot get autocompletion in Swift to work using cocoa pods 0.39.0 (also tried 1.0.0.beta3).
Can somebody confirm that it works in their project?
If yes, are there some specific search header paths that need to be included?

I have successfully built `GEOSwift` on the `develop` branch (`master` seems broken), and code completion works in the playg

[2016-02-04 23:52] andreacremaschi commented on #15
I am using it.. did you remember to ```import GEOSwift```?

[2016-02-05 14:15] davidganster commented on #15
Yes, I have that in my Swift file - the code compiles just fine, but code completion doesn't work.

I also tried importing `geos`, and importing the modules in the obejctive-c bridging header.

Which version of cocoapods are you using?
If it's not too much to ask, could you try setting up a clean project with just the `GEOSwift` pod and see if it works?

[2016-02-05 16:09] andreacremaschi commented on #15
I just tried and everything seems ok: I created a new project, added the `Podfile`, added an ```import GEOSwift``` line in the AppDelegate and then added a ```let point = Waypoint(WKT: "POINT(45 9)")```. Autocompletion works too. I'm using CocoaPods 0.39.0, Xcode 7.2. Here is my Podfile:

[code]

[2016-02-05 18:36] davidganster commented on #15
That's very strange.
I just tried the line of code you wrote, and I /do/ get autocompletion for the `point` variable.
However, as soon as I iterate over a collection of `GEOSwift` objects, autocompletion breaks.
Also, some of the extensions aren't recognised, for example `drawInSnapshot(snapshot:, mapRect:)`.

Does this give you any autocompletion for `geometry.`?

[code]

[2016-02-05 19:24] davidganster commented on #15
Hi again - it seems the issue lies with Xcode 7.2, not with `GEOSwift`.
I noticed that the same problem appeared when using standard library objects (like `String`).

I just installed the 7.3 beta, and it works just fine now.

Thanks and sorry for the trouble.

[2016-02-05 19:24] #15 closed

[2016-02-16 21:29] mertnesvat opened #17 "Cocoa Pods Error"
Like below
[code]

[2016-02-17 16:42] andreacremaschi commented on #17
You have to install autoconf, check the README

[2016-02-17 16:42] #17 closed

[2016-02-21 12:22] mertnesvat commented on #17
thanks :+1:

[2016-02-23 12:20] andreacremaschi commented on #5
Hey I finally added this in develop: https://github.com/andreacremaschi/GEOSwift/commit/f36c3d44b94a4f543cb9f7161cd6910ca6c30b91
It takes me a while, sorry! It will be available in the next release (0.3.2)

[2016-02-23 12:22] alsidor commented on #5
Thank you!
Looking forward to use the next release.

[2016-03-03 13:28] alsidor opened #19 "Memory Leak suspicion"
I have a geofencing app which create Waypoint at about every second.
I that case memory usage continuously grow till the OOM. Checked on the emulator and real devices.

(Geometry.deinit is called by the system)

[2016-03-04 11:03] andreacremaschi commented on #19
Hi, I have never seen anything like this in the library. Can you create a sample project to reproduce the issue? Have you tried to debug your app with Instruments?

[2016-03-04 11:32] alsidor commented on #19
I'll try to gather more information. There is a big chance I'll still
missing something in the app

On Friday, 4 March 2016, Andrea Cremaschi <notifications@github.com> wrote:

--
S.P.Q.R.

[2016-03-12 17:18] hvbnet commented on #5
could you please make public init for Coordinate struct. I can't create instance of this class on swift 2.1
public struct Coordinate {
    public let x: Double
    public let y: Double
    public init(x: Double, y: Double) {
        self.x = x
        self.y = y
    }
}

[2016-03-30 00:09] rzubeldia opened #20 "Error Include of non-modular header inside framework module geos"
Hi, im having a problem when i try to run the example

Include of non-modular header inside framework module geos, in file geos_c.h

Im running the project as we got from internet.

Any help?

Really appreciate

![geos-umbrella_h](https://cloud.githubusercontent.com/assets/1791418/14127856/8bf067b6-f5d8-11e5-8cb3-03d4410491d2.png)

[2016-03-31 22:05] vfn commented on #20
@rzubeldia can you please checkout the develop branch and test if the issue is still happening there? I believe it got fixed by https://github.com/andreacremaschi/GEOSwift/commit/845aa2e2eeaac6586cdfd0b354d7ef87d1363d3e

[2016-04-03 04:40] andreacremaschi commented on #19
Hey @alsidor, any news on this? I'll close the issue if not.

[2016-04-03 09:01] alsidor commented on #19
Oh. Forgot about the issue.
It was no GeoSwift leak.
Sorry for inconvenience

On Sunday, 3 April 2016, Andrea Cremaschi <notifications@github.com> wrote:

--
S.P.Q.R.

[2016-04-04 02:53] andreacremaschi commented on #19
No worries. Closing!

[2016-04-04 02:53] #19 closed

[2016-04-04 03:12] andreacremaschi commented on #20
mh I can see the issue too. Maybe it is related with Xcode 7.3 handling same-project modules in a new way, and breaking compatibility with playground? I didn't found confirm on this though.

[2016-04-04 03:19] andreacremaschi commented on #20
Hi @rzubeldia, check if you are building the GEOSwift target for the __Simulator__ (not for a device)

[2016-05-15 03:11] Liuch10 opened #22 "Error while the first build"
I'm a newbie and there are several errors  when building my project after installing GEOS with pod

Errors come in fun generate() in GEOS.swift

return AnyGenerator:"Argument passed to call that takes no arguments"
guard index < self.count else { return nil} "Type of expression is ambiguous without more context"

BTW, i'm working on it with OSX10.10.5 and Xcode 7.2
Thanks~

[2016-06-01 13:51] NiteshKumar-webonise commented on #5
hi, I have created one polygon on mapbox and I need to have its buffered polygon at some given distance lets say 10 meters, and also its coordinates as well. is this possible to achieve this by using GEOSwift ?

[2016-06-15 16:02] ongchi commented on #22
Change every single line of
return AnyGenerator {
to
return anyGenerator {
Will fix the problem

[2016-07-04 11:00] veyhong opened #23 "Requesting Features: overlay for Heat Map, and Hot Spot Map"
**Requesting Features: overlay for Heat Map, and Hot Spot Map.**
I am work on a project that related to represent map datas as **Heat map** or **Hot spot map** by customized the overlay render delegate in MKMap. Currently I am using image for specific region, the problem is the quality of image, if too large the app crush, if too small after zoom in many times the image become blur. It would be gr

[2016-07-05 10:30] andreacremaschi commented on #23
Hi, your issue is not related to GEOSwift, that deals with the model layer, but with the representation layer. You should delve into MKMapView. One way could be to recreate your hot spot map with vectorial overlays instead of using bitmaps, but you can do it if you have access on the data used to generate such map. Good luck

[2016-07-05 10:30] #23 closed

[2016-08-04 05:31] nschucky opened #25 "Swift 3"
it'd be cool to have a swift 3 version, if you have any interest to create a branch i would like to help with that.

[2016-08-30 07:36] ozcan-durak opened #26 "AGSGeometry Support"
Hi, Would be huge feature if Esri Arcgis IOS SDK supported.

Cannot use geometry in arcgis, as it requires a different format as AGSGeometry.

[2016-09-13 01:57] vfn commented on #25
@nschucky @andreacremaschi PR created: https://github.com/andreacremaschi/GEOSwift/pull/27

[2016-09-15 08:11] vfn opened #28 "Versions 0.4 & 0.5"
Hi @andreacremaschi

I've prepared 2 new versions

- **Version 0.4:** that supports `Swift 2.x` and `Xcode 7 & 8` https://github.com/andreacremaschi/GEOSwift/tree/0.4
- **Version 0.5:** that supports `Swift 3` and `Xcode 8` only. https://github.com/andreacremaschi/GEOSwift/tree/0.5

I can publish the versions if you grant me access to the Cocoapods trunk:
`pod trunk add-owner GEOSwift virgiliofave

[2016-09-15 22:15] andreacremaschi commented on #28
done!

[2016-09-15 22:15] #28 closed

[2016-09-17 12:48] robcas3 opened #29 "Can't install pod"
hi, i'm using the latest version of CocoaPods but the install process fails.
here's my output:

[code]

[2016-09-17 13:09] vfn commented on #29
Can you confirm what version of cocoapods and what version of GEOSwift you're using?

[2016-09-17 13:10] robcas3 commented on #29
i'm using version 1.0.0

[2016-09-17 13:14] vfn commented on #29
I assume that's the Cocoapods version, right? What about GEOSwift? Can you also confirm the Xcode version?

[2016-09-17 13:15] robcas3 commented on #29
i'm sorry, i didn't read properly your comment.
i'm using cocoa pods version 1.0.0 and version 0.4 of GEOSwift with 3.5.0 of geos

[2016-09-17 13:18] vfn commented on #29
I haven't tested the latest version of GEOSwift with Cocoapods 1.0.0. Are you able to update Cocoapods to the latest (1.0.1)?

[2016-09-17 13:23] robcas3 commented on #29
i have updated to version 1.0.1 and i'm using it from terminal, but it gives me the same error

[2016-09-17 13:28] vfn commented on #29
Xcode version?

[2016-09-17 13:31] robcas3 commented on #29
7.3

[2016-09-17 13:35] vfn commented on #29
Cool. I read through your first message and found the problem.

You don't have all the dependencies installed. Have a look at the read me file for more info, but what you are missing is:

NOTE: running pod install may cause some errors if your machine does not have autoconf, automake and glibtool, if you encounter those errors you can run brew install autoconf automake libtool to install those pac

[2016-09-17 13:42] robcas3 commented on #29
Thank you very much! This solves the problem!

[2016-09-17 13:44] vfn commented on #29
👌

[2016-09-17 13:44] #29 closed

[2016-10-04 04:32] falkobuttler commented on #25
@vfn do you plan to release a new version soon? Right now I would have to reference `master` directly to get Swift 3 support.

[2016-10-04 04:42] vfn commented on #25
@falkobuttler please reference tag https://github.com/andreacremaschi/GEOSwift/tree/0.5 on your Podfile. I haven't been able to publish it yet due to issues when pushing it to Cocoapods trunk. I should be releasing it in the next couple of weeks

[2016-10-04 04:49] vfn commented on #22
Closing due to lack of activity and not enough info to

[2016-10-04 04:49] #22 closed

[2016-10-18 22:43] DaniloBarros opened #30 "Add sample Examples"
It is hard to grasp the first implementation of the framework. A sample project or examples would facilitate this understanding.

Thank you.

[2016-10-18 23:34] vfn commented on #30
@DaniloBarros there README file explains how to integrate it and also contains a few examples. PRs are welcome if you'd like to create a sample project.

[2016-10-23 23:42] vfn commented on #25
@nschucky @falkobuttler @andreacremaschi Swift 3 support is now officially available on `v0.5.1`. Tag https://github.com/andreacremaschi/GEOSwift/tree/0.5.1.

Cocoapods v1.1.1 fixed the issues I was having when publishing the podspec file.

[2016-10-23 23:42] #25 closed

[2016-10-23 23:46] #20 closed

[2016-10-23 23:47] vfn commented on #20
@rzubeldia if you are still experiencing issues, please add a comment and we can reopen this issue and further investigate it

[2016-10-23 23:49] #5 closed

[2016-10-24 21:39] tevinmaker opened #31 "geos install issue"
Hey I'm trying to run a pod install and keep getting the following crash:

[!] /bin/bash -c
set -e
type -P autoconf &>/dev/null || alias autoconf 'xcrun autoconf'
type -P autoheader &>/dev/null || alias autoheader 'xcrun autoheader'
type -P aclocal &>/dev/null || alias aclocal 'xcrun aclocal'
type -P automake &>/dev/null || alias automake 'xcrun automake'
type -P glibtool &>/dev/null || alias glib

[2016-10-24 22:11] vfn commented on #31
@tevinmaker please refer to issue https://github.com/andreacremaschi/GEOSwift/issues/29

[2016-10-24 22:11] #31 closed

[2016-11-23 14:53] kondranton opened #32 "No method mapboxShape"
![screen shot 2016-11-23 at 17 51 47](https://cloud.githubusercontent.com/assets/9914409/20566303/9ba85680-b1a5-11e6-9417-1cd382ea4c83.png)

Somehow compiler doesn't see `mapboxShape` method

[2016-11-23 22:36] vfn commented on #32
@kondranton can you post your project's podfile? If not, can you check if you are using the `MapboxGL` subspec?

[2016-11-23 22:46] kondranton commented on #32
No, I don't use it, can you tell me how to add it, please?

[2016-11-23 22:51] vfn commented on #32
Use `pod 'GEOSwift/MapboxGL'` instead of `pod 'GEOSwift'`

[2016-11-25 00:23] kondranton commented on #32
Thanks a lot. That worked.

[2016-11-25 00:23] #32 closed

[2016-11-26 18:30] hohl opened #33 "GeoJSON Feature properties"
I see there has been some (uncommeted) properties handling. But it would be really nice to be able to handle GeoJSON features with that library too.

[2016-11-27 22:49] vfn commented on #33
@hohl feel free to create a PR to add new features

[2017-02-12 00:22] iamlogiq opened #34 "error with geos dependency"
Getting this error below when I run pod install for GeoSwift:
Im using cocoapods v 1.1.0
[code]

[2017-02-12 00:52] vfn commented on #34
The last two lines of the error log show why it failed:

/bin/bash: line 2: alias: autoconf: not found /bin/bash: line 2: alias: xcrun autoconf: not found

Your machine doesn't have autoconf installed. Please review the readme file, all the info you need should be there.

[2017-02-12 03:17] iamlogiq commented on #34
Thank you!

[2017-02-12 03:17] #34 closed

[2017-02-17 08:32] BoshiLee opened #35 "Can't not parse openstreet geojson"
How to pares the geojson which converted form openstreetmap?
It's awalys throws fail...

https://www.dropbox.com/s/zcuii3ciplpebk6/taipei.geojson?dl=0

[2017-02-17 10:49] vfn commented on #35
What error is it throwing?

Sent from my iPhone

[2017-02-24 09:23] Abd3L opened #36 "GeoSwift for Mac App développement"
I have some troubles to build the GeoSwift Framework for OS X. Can any one help please.

[2017-02-24 10:02] vfn commented on #36
@Abd3L can you please post the error logs here?

[2017-02-24 10:09] Abd3L commented on #36
Thanks @vfn

Ld /Users/abdellahichiba/Documents/Debug/ChartTest.app/Contents/MacOS/ChartTest normal x86_64
    cd /Users/abdellahichiba/Desktop/FINAL_RAINFALL_MODULE/Essaie_Code/ChartTest
    export MACOSX_DEPLOYMENT_TARGET=10.11
    /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang -arch x86_64 -isysroot /Applications/Xcode.app/Contents/Developer/Platfor

[2017-02-24 10:16] Abd3L commented on #36
Showing Recent Issues
Target 'GEOSwift' of project 'GEOSwift' was rejected as an implicit dependency for 'GEOSwift.framework' because it doesn't contain platform 'macosx' in its supported platforms 'iphonesimulator, iphoneos'

[2017-02-24 10:30] vfn commented on #36
Interesting, the docs say that it supports macOS, but the project does not have a macOS target. Feel free to add macOS support and create a PR

[2017-03-27 19:27] biomiker opened #37 "Problems arise when using LinearRing convenience initializer"
First off, thank you, this library is amazing!  Here's the issue I found.

The convenience initializer `LinearRing(points: [Coordinate])` gives you back a LinearRing object but not quite a valid one.  This is evident in its WKT which describes itself as a LINESTRING.   It also causes errors in methods that expect a valid LinearRing, such as the convenience initializer
`Polygon(shell: LinearRing, h

[2017-03-29 07:58] biomiker opened #38 "intersection not reported correctly"
I think I've encountered a problem with the intersection function.  See sample code and output below.  I compute two intersections with a LinearRing, one for each of two LineStrings (l1 and l2).  The intersection method returns a single point for l1 (let's call it p1) and no intersection for l2.  However, as you can see in the output, the first point of l2 has the exact same coordinates as p1!!  S

[2017-04-05 01:13] davenquinn opened #39 "Build using Carthage?"
Hi,

This looks like fantastic work! I am trying to integrate into an app where I am using Carthage as my framework manager — it's a little more lightweight than CocoaPods. I am wondering if it is possible to configure this for Carthage...I tried installing it and there was some cryptic (to me) error which I have pasted below. Perhaps this just means that there needs to be a Cartfile in the projec

[2017-04-05 02:02] vfn commented on #39
Hi Daven,

Can you please paste the log mentioned in the last line of you log above? `This
usually indicates that project itself failed to compile. Please check the
xcodebuild log for more details: /var/folders/md/
lvb3zv4n5652ffl6t44397t80000gn/T/carthage-xcodebuild.l8D67B.log`

If you can't find that log, try build the project again using Carthage, and
then look for the new log file.

Cheers,
V

[2017-04-05 07:33] davenquinn commented on #39
Oh sorry, that's a pretty obvious step for me to take! My bad. It was kinda large so I attached below...

[xcode-build.txt](https://github.com/andreacremaschi/GEOSwift/files/895448/xcode-build.txt)

[2017-04-05 08:26] alexisbar opened #40 "Objective-C LineString usage"
Hi,
First, let me thanks you for this amazing framework. I've tried many, proprietary or not, but this one is by far the best available for my needs.

I'm trying to integrate it into an Objc app.
Here's what I've got working :

`NSString *WKT = @"LINESTRING(5.220477 45.172999, 5.258071 45.160170 , 5.244166 45.169247)";
LineString *linestring = (LineString *)[Geometry create:WKT];`

Now, I'd like t

[2017-04-10 10:38] vfn commented on #40
Hi @alexisbar,

I'm afraid that's not possible. `CoordinatesCollection` is visible to Objective-C code as it is a `struct`.

If you'd like to still use `GEOSwift`, I would advise you to write a swift adapter class, that exposes the `points` property as a different type, (e.g. an `NSArray`), and make your Objective-C use this adapter class to get the information you need.

As an example, the code b

[2017-04-10 10:43] vfn commented on #37
@biomiker have you had a chance to look at this issue? Do you think you could fix it and create a PR?

[2017-04-10 10:44] vfn commented on #35
@BoshiLee if you are still experiencing this issue, please create a new one with more information

[2017-04-10 10:44] #35 closed

[2017-04-10 11:22] Pr0gmaT1k opened #41 "Return nil for the whole Geojson"
Return nil for the whole geojson if only one of the geometry in feature collection failed to load.

Exactly here:
https://github.com/andreacremaschi/GEOSwift/blob/486873afb7c5f354af5936fa15fe2ca23f667ae0/GEOSwift/GeoJSON.swift#L100

[2017-04-10 11:35] vfn commented on #41
What would the correct behaviour be? Ignore errors? Throw exceptions?

Sent from my iPhone

[2017-04-10 11:47] Pr0gmaT1k commented on #41
add error inside GEOJSONParseError and throw + trace would be a good first solution.
In another step, my geojson load without any error with geojson.io, it would be a good idea to find why he throw errors. I will investigate.

[2017-04-10 13:46] alexisbar commented on #40
Well that's perfect, I didn't knew about these adapters. Nice feature.

Just missing a public parameter for the PointsCollection subscript method to be seen by the objc interface header :

`public subscript(index: UInt32) -> CoordinatePoint {`

Thanks a lot !

[2017-04-10 13:46] #40 closed

[2017-04-14 00:05] twof opened #42 "Support for Swift Package Manager?"
Are there any plans to support swift package manager?

[2017-04-14 00:07] twof commented on #42
Nevermind. Found https://swiftmodules.com/petrpavlik/geoswift
Though you might want to add that to the readme

[2017-04-14 00:42] vfn commented on #42
Hey Alex,

It would be awesome if you could create a PR to merge the changes required to add package manager support.

Sent from my iPhone

[2017-04-14 17:21] twof commented on #42
Made the changes to the readme #43

[2017-04-17 05:50] vfn commented on #42
@twof that library has nothing to do with GEOSwift. It only adds a way to calculate the distance in between 2 coordinates.

[2017-04-17 06:52] twof commented on #42
Yup. I just had someone else point out that that was a completely different repo. My bad. I'm in the middle of going over how to bring this to SPM right now.

[2017-04-17 07:20] vfn commented on #42
That's awesome @twof! Thank you for helping with that.

[2017-04-17 17:32] twof commented on #42
Okay so the problem I'm having is that GEOSwift relies on geos which is also not on SPM. To compound that, geos isn't on github, and it's also in C++ rather than Swift so I'm not sure how I'd go about getting that on SPM. If anyone has any thoughts as to a resolution, I'm all ears.

[2017-04-17 19:32] vfn commented on #42
You can get GEOS from https://github.com/OSGeo/geos/blob/svn-trunk/README.md

And this might help you getting the C++ code into a swift package http://ankit.im/swift/2016/05/21/creating-objc-cpp-packages-with-swift-package-manager/

Sent from my iPhone

[2017-06-07 06:18] CodeKunal opened #47 "union of 2 polygons in mapbox"
If I am correct we cannot do union of 2 MGL polygons in Mapbox. Are there any plans to add this? I guess it is possible in mapkit.

Also if someone knows a possible way to find union of multiple polygons such that final polygon can contain holes? Please do let me know. Thanks

[2017-06-12 22:37] vfn commented on #47
Hi @CodeKunal, have you made any progress on this issue? Feel free to create a PR if you are working on that.

[2017-06-20 04:24] badmonkeyemail opened #49 "pod geos error"
the config.log below is:

configure:3545: gcc -V >&5
clang: error: argument to '-V' is missing (expected 1 value)
clang: error: no input files
configure:3556: $? = 1
configure:3545: gcc -qversion >&5
clang: error: unknown argument: '-qversion'
clang: error: no input files
configure:3556: $? = 1
configure:3576: checking whether the C compiler works
configure:3598: gcc  /usr/local/opt/libxml2/includ

[2017-06-20 04:51] vfn commented on #49
Hi @badmonkeyemail,

If you look at the second last line of the log you posted above, `ld: can't map file, errno=22 file '/usr/local/opt/libxml2/lib' for architecture x86_64` it looks to be an issue with `libxml2`

Please share the whole log, if possible as it will make it easier to understand where the problem is

[2017-06-20 04:59] badmonkeyemail commented on #49
This file contains any messages produced by compilers while
running configure, to aid debugging if configure makes a mistake.

It was created by configure, which was
generated by GNU Autoconf 2.69.  Invocation command line was

  $ ./configure

## --------- ##
## Platform. ##
## --------- ##

hostname = zhanghaoxi.siweidg.com
uname -m = x86_64
uname -r = 16.6.0
uname -s = Darwin
uname -v = Darwin

[2017-06-20 05:32] vfn commented on #49
@badmonkeyemail, can you please provide your Podfile? And if possible, to create a sample project that I could clone and look at the issue.

[2017-06-20 05:55] badmonkeyemail commented on #49
Hi @vfn,
Thank you for your reply.

I used the geoswift project, and I deleted GEOSwift.xcworkspace file because it's error:

diff: /Podfile.lock: No such file or directory
diff: /Manifest.lock: No such file or directory
error: The sandbox is not in sync with the Podfile.lock. Run 'pod install' or update your CocoaPods installation.

my podfile is
# Uncomment this line to define a global platform

[2017-06-20 08:19] vfn commented on #49
Hi @badmonkeyemail, I don't believe that deleting `GEOSwift.xcworkspace` was the correct action. The error message clearly stated what was the issue:

diff: /Podfile.lock: No such file or directory
diff: /Manifest.lock: No such file or directory
error: The sandbox is not in sync with the Podfile.lock. Run 'pod install' or update your CocoaPods installation.

You should first run `pod install` and

[2017-06-20 10:36] badmonkeyemail commented on #49
Hi @vfn ,
I upload my project. https://github.com/badmonkeyemail/test-geoswift
Please help.
Thank you.

[2017-06-20 23:08] vfn commented on #49
@badmonkeyemail, Thank you for creating the repo. I cloned it and it worked just fine on my machine. After cloning, I run `pod install`, and then opened `GEOSwift.xcworkspace`. The project builds with no issues. ¯\_(ツ)_/¯

[2017-06-21 02:42] badmonkeyemail commented on #49
Hi @vfn , it's too strange! What should I do? I guess the problem is maybe my environment or setting. This is parameters of my mac:
mac 10.12.5
Xcode 8.3.2 (8E2002)

gcc-4.9 (Homebrew GCC 4.9.4) 4.9.4
--- I don't use clang，because https://svn.osgeo.org/geos/trunk/INSTALL said "OS/X 10.6, compile with gcc-4.0 rather than the default gcc that comes with XCode.  CC=gcc-4.0 CXX=g++-4.0 ./configure" ,

[2017-06-21 03:44] vfn commented on #49
@badmonkeyemail I can't see anything wrong with your setup. Could you explain what you are trying to do? Are you trying to integrate GEOSwift into an existing project or are you planing to do some development on the GEOSwift code itself?

[2017-06-21 05:11] badmonkeyemail commented on #49
@vfn , My app need to draw vector data and my render engine supports geometry object. For simple vector data, like 'Polygon((0 0, 10 0, 10 10, 0 10, 0 0))', is ok, but same special complex data, which has a hole in the polygon or multi features, displays wrong. So I need geoSwift to parse vector data to correct geometry object. Is there anything else I can do without geoSwift?

[2017-06-23 01:04] vfn commented on #49
@badmonkeyemail, could you try cloning the GEOSwift repo again? Then on terminal, type `pod install` and the proceed to open the `GEOSwift.xcworkspace` file.

Let me know it the pod will fail to build. if it fails, please create a repo and push this new project

[2017-06-23 01:48] badmonkeyemail commented on #49
Hi @vfn , I think the problem is about configure geos, the log said,

configure:3545: gcc -v >&5
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/opt/local/libexec/gcc/x86_64-apple-darwin16/4.9.4/lto-wrapper
Target: x86_64-apple-darwin16
Configured with: /opt/local/var/macports/build/_opt_bblocal_var_buildworker_ports_build_ports_lang_gcc49/gcc49/work/gcc-4.9.4/configure --prefix=/opt/lo

[2017-06-23 03:25] badmonkeyemail commented on #49
Hi @vfn , My friend compiled it okey. I feel very sad. Your project has no problem, its my  fault.
I will colse it, and thanks your help again.

[2017-06-23 03:25] #49 closed

[2017-06-23 04:15] vfn commented on #49
@badmonkeyemail no problems! Please consider creating a pull request with your changes once you've finished them.

[2017-06-24 00:54] johncrenshaw commented on #37
I just ran into this and came here looking to see if it was a known issue. The problem is that LinearRing creates the underlying geometry using GEOSGeom_createLineString_r(), but GEOSGeom_createPolygon_r() requires that the shell and holes be created using GEOSGeom_createLinearRing_r().

I can confirm that adding a convenience initializer to LinearRing and and using GEOSGeom_createLinearRing_r() i

[2017-06-24 03:24] vfn commented on #37
@johncrenshaw could you create a pull request with this change and tests? Thanks!

[2017-06-30 18:42] robbroadwell commented on #38
I have the same issue. Intersection() returns the first polygon provided to it.

[2017-07-03 00:26] vfn commented on #37
@johncrenshaw Thank you for creating the pull request.

I have made a minor change and created a PR on your repo. Please have a look at it, and if you're happy with it, update your PR and we can merge it. Let me know your thoughts

https://github.com/johncrenshaw/GEOSwift/pull/1

[2017-07-04 23:52] vfn commented on #37
Fixed by https://github.com/andreacremaschi/GEOSwift/pull/50

[2017-07-04 23:52] #37 closed

[2017-07-05 05:49] vfn commented on #26
@ozcan-durak we have just split the Mapbox integration into it's own pod. If you still uses ArcGIS SDK, it should be easy for you to create a pod that supports it, based on the Mapbox one

https://github.com/GEOSwift/GEOSwiftMapboxGL

[2017-07-05 23:33] vfn commented on #47
@CodeKunal please note that when updating your GEOSwift pod you'll need to use the new pod that contains all the code related to Mapbox https://github.com/GEOSwift/GEOSwiftMapboxGL

[2017-08-02 17:29] Viktorfalkner opened #52 "Crossing lines when drawing polygons causes crash when getting intersection"
I am having a problem where If I draw, and my lines cross, when I try to get the intersection of that polygon + my screenbounds, my app is crashing - unwrapping a nil value.

▿ Optional<String>
  - some : "LINESTRING (-104.949991020116 39.7341442768165, -104.876498956624 39.7341442768165, -104.876498956624 39.6537682983905, -104.949991020116 39.6537682983905, -104.949991020116 39.7341442768165)"

[2017-08-02 23:29] vfn commented on #52
Hi @Viktorfalkner,

I didn't manage to reproduce the crash myself. Could you please create a sample project reproducing this issue?

Thanks!

[2017-08-11 01:05] zhouhao27 opened #53 "How to retreive extra info from the geojson file?"
Here is part of my geojson:

[code]

I'd like to get extra info like `TYP_CD` and `PRK_NAM` etc, what should I do? Thanks.

[2017-09-07 08:51] idanaviv10 opened #55 "Failed to build on xcode 9"
I am trying to add GEOSwift to xcode 9, I am using swift version 3.2, and when I build it I get an error:

Showing Recent Issues
-1: **unable to build node**: '/Users/idanaviv/Library/Developer/Xcode/DerivedData/Mapit-bzfzfkmrqlfkroczgpyrzczwflze/Build/Products/Debug-iphonesimulator/GEOSwift/GEOSwift.framework/Info.plist' (**node is produced by multiple commands**; e.g., '88b8ceef99a0f83e40520894e

[2017-09-07 10:41] vfn commented on #55
Hi Idan,

I have added a swift4 branch that should compile on Xcode 9.

Please checkout that one and let me know if you have any issues.

If you do find issues, please create a sample project

Thanks!

Sent from my iPhone

[2017-09-07 11:00] idanaviv10 commented on #55
Hi,
Thank  you for the quick response,  I tried the swift 4 branch and it still didn't work.
But I think it might be xcode bug. When I change the build system form "New Build System" to the "Default" it works fine.

If you want to reproduce this problem, just have a empty xcode project add the cocoapods, change it to the new build system( File -> Workspace Setting -> Build System: "New Build Syste

[2017-09-08 00:41] vfn commented on #55
Hi @idanaviv10,

I have just published a new version of the pod. The issue highlighted by the new build system showed that we were including the `Info.plist` file as a source file. The podspec was telling cocoapods to grab anything inside the source folder.

It was a minor change https://github.com/GEOSwift/GEOSwift/commit/95454834f2904840a377f3e4cab3e2c81e277e9a
[code]

I'm closing this issue. Le

[2017-09-08 00:41] #55 closed

[2017-10-04 14:41] Belzik opened #58 "Can't merge user_target_xcconfig for pod targets: ["SVGKit", "geos"]."
Hi, guys.

In my project two libraries are very necessary - 'SVGKit', 'GeoSwift' (in addition to him goes 'geos').

I have added to my podfile:
pod 'GEOSwift'
pod 'SVGKit', :git => 'https://github.com/SVGKit/SVGKit.git', :branch => '2.x'

And run 'pod install'. But I receive a error.

[!] Can't merge user_target_xcconfig for pod targets: ["SVGKit", "geos"]. Singular build setting CLANG_CXX_LIBRARY

[2017-10-04 23:02] vfn commented on #58
@Belzik the issue is with `geos` pod. It's a little outdated and needs to have the podspec updated to work with `libc++` instead of `libstdc++`.

I'll try to have a look at it in the next couple of days

[2017-10-09 07:37] Belzik commented on #58
Good afternoon, @vfn

[2017-10-09 07:56] vfn commented on #58
Hi @Belzik, Good arvo!

I'm sorry mate, but I didn't have a chance to look into that. One patch solution you can apply to work around this issue is to modify the build setting.

Add the following to your Podfile and run `pod install`

[code]

Let me know if that works

[2017-10-09 11:27] Belzik commented on #58
Unfortunately, it doesn't work. (
https://yadi.sk/i/0JARFtzr3NbS3f

[2017-10-09 11:50] vfn commented on #58
What program did you use to edit the podfile?

Remove the double quotes from `== “geos”` and add single quotes and then try pod install again

Sent from my iPhone

[2017-10-09 12:30] Belzik commented on #58
Now I used xcode.

[2017-10-09 12:33] Belzik commented on #58
Now I used xcode.
https://yadi.sk/i/_YfSRtcZ3NbZrF

After that - I have removed this block of a code. Also it has tried to be played with it settings.
https://yadi.sk/i/vF1QtpVo3NbaAn

[2017-10-10 21:56] ssokol opened #59 "Getting odd output from swiftCallback??"
I'm using the library with Swift 3 on iOS 10.3.2. Everything seems to be working correctly, but I keep getting odd messages in the debug output:

[code]

Looks like that is coming from the swiftCallback function, defined at the top of GEOS.swift:

[code]

Does this indicate any sort of error? If not, is it acceptable if I comment out the print statement?

Thanks!

[2017-10-11 00:55] vfn commented on #59
Hi @ssokol, That appears to be debug code.

Could you please create a pull request wrapping it on a check for `DEBUG`?

[code]

Thanks!

[2017-10-11 12:40] ssokol commented on #59
Done. Thanks!

[2017-10-11 22:32] vfn commented on #59
Merged https://github.com/GEOSwift/GEOSwift/pull/60

Thanks @ssokol!

[2017-10-11 22:32] #59 closed

[2017-10-12 08:25] Belzik commented on #58
My friend, you have ideas?

[2017-10-12 09:27] vfn commented on #58
Hi @Belzik I'm sorry, but that will likely need a new release of the geos podspec, and unfortunately I'm not able to do that at the moment.

You could try to create your own geos pod without the `CLANG_CXX_LIBRARY` flag, and add it as a dependency on your pod file, so GEOSwift will use that as well.

[2017-10-12 09:29] vfn commented on #58
@Belzik do you get any build errors, or just the cocoapods warnings?

[2017-10-12 22:50] vfn commented on #53
Features are now available. New pod version will be released soon.

[2017-10-12 22:50] #53 closed

[2017-10-17 23:18] jketch836 opened #61 "Pod Install Issues"
Hey there I am trying to install GEOSwift and I am getting this error when it is installing the geos pod:

Installing GEOSwift (2.1.0)
Installing geos (3.5.0)
[!] /bin/bash -c
set -e
type -P autoconf &>/dev/null || alias autoconf 'xcrun autoconf'
type -P autoheader &>/dev/null || alias autoheader 'xcrun autoheader'
type -P aclocal &>/dev/null || alias aclocal 'xcrun aclocal'
type -P automake &>/de

[2017-10-17 23:39] vfn commented on #61
@jketch836

Please have a look at the [readme](https://github.com/GEOSwift/GEOSwift#cocoapods) and on some of these closed issues: https://github.com/GEOSwift/GEOSwift/issues?utf8=%E2%9C%93&q=is%3Aissue%20%2Fbin%2Fbash%3A%20line%202%3A%20alias%3A%20autoconf%3A%20not%20found

[2017-10-18 05:37] vfn commented on #58
@Belzik try to add the code i previously posted on your cocoapods, but instead of `post_install`, change it to `pre_install`

[2017-10-18 12:21] jketch836 commented on #61
Actually I have also read the closed issues. Those didn't seem to help.

[2017-10-18 12:29] vfn commented on #61
Cool! Could you create a sample project, and I’ll have a look at it?

Thanks!

[2017-10-18 13:15] jketch836 commented on #61
I can download the GEOSwift master branch and install the podfile and it won't work. I think it might be a file path issue. Terminal acknowledges they are there in the right place (the home directory) according to stack overflow. Do you know of any issues with APFS?

[2017-10-18 22:22] vfn commented on #61
@johncrenshaw, I don't know of any issues with APFS. There shouldn't be any. if the tools are installed and accessible via terminal, I can't se why the build script cannot find them.

Could you go inside the `GEOSwift` folder via terminal and run the following command:
[code]

and then
[code]

Please paste the line where you run the command, and the output

Thanks!

[2017-10-19 19:38] jketch836 commented on #61
which autoconf
/usr/local/bin/autoconf

which automake
/usr/local/bin/automake

which libtool
/usr/local/bin/libtool

xcrun autoconf --version
2017-10-19 15:35:49.730 xcodebuild[1809:44314] [MT] PluginLoading: Required plug-in compatibility UUID DF11C142-1584-4A99-87AC-1925D5F5652A for plug-in at path '~/Library/Application Support/Developer/Shared/Xcode/Plug-ins/XcodeColors.xcplugin' not present

[2017-10-19 22:11] vfn commented on #61
@jketch836 It looks like you are all set...unfortunately I don't think I know how to help you on this issue.

[2017-10-21 14:25] Belzik commented on #58
Hi, my friend.
https://yadi.sk/i/RyPflX9T3Nx9qM

[2017-10-22 17:20] jketch836 commented on #61
So I found out the issue. First I tried the Cocoapods app, I tried running Install, Install (verbose), and Update (verbose). Those did not work. I still got the error that the pods did not install correctly. I then opened terminal and changed the directory to my project folder and ran the commands that you gave me above in terminal, then tried pod update. It worked. GEOSwift and the geos were inst

[2017-10-22 22:01] vfn commented on #61
@jketch836 that's great! I'm glad to hear you got it working.

Could you please make the suggested changes to the README file and create a pull request?

Cheers!

[2017-10-30 23:40] kylebrowning commented on #39
Getting this as well.

[2017-10-30 23:43] kylebrowning commented on #39
```/Users/kylebrowning/work/ios/leagueapp/Carthage/Checkouts/GEOSwift/GEOSwift.playground' in workspace '/Users/kylebrowning/work/ios/leagueapp/Carthage/Checkouts/GEOSwift/GEOSwift.xcworkspace```

[2017-11-14 23:00] #61 closed

[2017-11-14 23:19] jketch836 opened #62 "GEOJSON from String or json resource"
Hey there. I'm having an issue and was wondering if GeoSwift can create a MultiPolygon from a string or a json url. Specifically I am getting a shape from a json source that is listed below.
"shape": [
  [
   [
    [ -84.321797, 34.988965 ],
    [ -84.308201, 35.092843 ],
    [ -84.30696, 35.106162 ],
    [ -84.297721, 35.169478 ],
    [ -84.294723, 35.185594 ],
    [ -84.29024, 35.225572 ],
    [

[2017-11-15 11:27] vfn commented on #62
Hi @jketch836 GEOSwift has support to geometries represented by a [GeoJSON](https://en.wikipedia.org/wiki/GeoJSON) or [WKT](https://en.wikipedia.org/wiki/Well-known_text).

[2017-11-20 06:33] alexahlen opened #63 "Cannot get my code to produce an MKPolyline, only MKShape."
Sorry to post this here, but this is the only place where someone might be able to help.

I cant seem to get an MKPolyline out of the function, it always returns an MKShape. Is the correct behaviour? Ive read through the codebase and as far as i understand it it should return a MKPolyline?

Here is my code (this returns the error:  Cannot invoke 'add' with an argument list of type '(MKShape)'):

`

[2017-11-20 10:34] anshukishore opened #64 "How to calculate area of a polygon?"
I have created a GEOSwift polygon from a geojson object. I want to calculate it's area. I do not see a method exposed. Is there a GeoSwift function to do that?

[2017-11-20 11:42] vfn commented on #64
Hi @anshukishore, unfortunately area has not been implemented yet.

It would be awesome if you could add it, as well as some tests, and open a PR.

You can have a look at [MiscFunctions.swift](https://github.com/GEOSwift/GEOSwift/blob/master/GEOSwift/MiscFunctions.swift), the first function on that todo list is the area. The implementation should be similar to the distance function implemented on

[2017-11-20 12:11] vfn commented on #63
@alexahlen I have answered you question on [SO](https://stackoverflow.com/a/47391712/227148).

All you need to do is to downcast shapeLine to a MKPolyline

[code]

[2017-11-20 16:44] #63 closed

[2017-11-23 08:38] anshukishore commented on #64
Thank you for the response. I will consider an implementation.

[2017-11-27 21:59] JiDai opened #65 "Install issue"
Hi,

I have a fresh install of Xcode. I change dependencies in `Podfile`
I got the `autoconf not found` error then I install `brew install autoconf automake libtool`
After relâche `pod install`, I got the following error (I tried `pod update` too):

[code]

[2017-11-27 22:29] vfn commented on #65
Can you confirm what Xcode version you are using, as well as cocoapods?

[2017-11-27 22:31] JiDai commented on #65
Xcode Version 9.1 (9B55)

[code]

[2017-11-27 22:49] vfn commented on #65
@JiDai thanks! I have the exact same setup, although pod install works as expected on a fresh clone of the repo.

So, you cloned the repo and run `pod install` and get the error above, is that correct? Or are you integrating `GEOSwift` into your project?

If it's an integration issue, can you plz share your `Podfile`

[2017-11-27 22:52] JiDai commented on #65
I did not clone the repo, I create new empty project in Swift. modify the podfile and install.

Here is my `Podfile`

[code]

[2017-11-28 01:35] joeuelk opened #66 "Problem trying to display MultiPolygon as an overlay"
[multipolygon.geojson.zip](https://github.com/GEOSwift/GEOSwift/files/1508236/multipolygon.geojson.zip)

In the code below the line `if let geo = geometries?[0] as? MultiPolygon {` is giving me the following error:

`Generic parameter 'T' count not be inferred in case to 'MultiPolygon<_>'`

Xcode 8.3 prompts me to change `MultiPolygon` to `MultiPolygon<Polygon>` but execution never makes it past t

[2017-11-28 01:52] vfn commented on #66
Hi @joeuelk,

We ddi some changes not so long ago to add support for features, and I didn't realise that it need more changes to make it clear what `Geometry.fromGeoJSON` actually returns.

It will return an array of features, that may contain geometries inside it.

please try the following:

[code]

[2017-11-28 02:06] joeuelk commented on #66
Thanks much for the quick response. I think that did it!

Now I'm on to figuring how how to make the overlay actually appear on the map.

[2017-11-28 02:11] vfn commented on #66
No problems!

You'll need an overlay renderer for that. You add the overlay to the map and then provide a renderer for it, via the delegate method

[code]

[2017-11-28 02:11] #66 closed

[2017-11-30 07:49] SebastianBoldt opened #67 "How to create an Polygon Object from list of CLLocationCoordinate2D"
Hey Guys,

I am currently trying to create Geometry Objects from a list a CLLocationCoordinate2D-Objects.
This is my approach:

[code]

The joined String could look like this:

`"POLYGON((51.0693791021764 9.75201444533336, 51.1328987236114 9.67614867733331, 51.2121755537486 9.58763861466671, 51.2517628689227 9.56235002533339, 51.2913161313519 9.53706143599998, 51.3466335100652 9.52441714133342, 51

[2017-11-30 07:57] vfn commented on #67
@SebastianBoldt

1) `longitude` precedes `latitude`
2)  There should be a space in between `POLYGON` and the first parenthesis `(` => `"POLYGON (..."`

[2017-11-30 08:23] SebastianBoldt commented on #67
I fixed the issues you addressed but it still does not work for some reason.
Here is the string im using to initialize the Polygon:

`"POLYGON ((9.68879297200007 51.2438481304412, 9.61292720400002 51.3071279038959, 9.47383996266669 51.4570682146156, 9.29681983733338 51.7554766499544, 9.24624265866675 51.8727299411438, 9.20830977466668 52.0130314107855, 9.20830977466668 52.0519261862681, 9.20830977

[2017-11-30 08:45] SebastianBoldt commented on #67
If I convert the latitude and longitude values to Integers the creation of the Polygon seems to work. Could it be that the Polygon Initializer has some Problems with values like **9.77730303466667** ?

[2017-11-30 10:00] vfn commented on #67
[code]

[2017-11-30 12:26] SebastianBoldt commented on #67
Ok, now I get it. Everything works as expected.
Thanks for you help. I really appreciate it.

[2017-11-30 12:26] #67 closed

[2017-11-30 18:59] SebastianBoldt commented on #52
Same issue over here. I will create a sample project tomorrow and inspect whats going on.

[2017-12-01 07:40] SebastianBoldt commented on #52
[code]

<img width="898" alt="bildschirmfoto 2017-12-01 um 08 38 46" src="https://user-images.githubusercontent.com/2922440/33472541-1ba662f8-d673-11e7-800d-3aa98986bca2.png">

[2017-12-04 07:14] SebastianBoldt commented on #52
@vfn Could you reproduce the bug with the code I provided?

[2017-12-16 06:59] joeuelk opened #68 "Best way to split a polygon?"
I have polygons derived from geojson files displaying on mapkit. It works great! But I need to split the multipolygons into two groups so I can color them individually. I thought I might accomplish it by doing the following:

1) Figure out the enclosing rectangle of the shapesCollection
2) Divide it into two rectangles
3) Take each rectangle and "intersect" it with the multipolygon (creating two o

[2017-12-17 04:04] #68 closed

[2017-12-18 05:25] joeuelk opened #69 "Intersection not working with some GeoJSON files"
I have GeoJSON files for a few US states (included) and can't get the 'intersection' function in GEOSwift to work on three of them. I've tested nearly all other US states and intersection works fine.

The following are example rectangles I use for the intersection. Each rect covers the upper half of the corresponding state.

[code]

The following code works for all states except for CA, ID or ME l

[2017-12-18 06:19] vfn commented on #69
@joeuelk the code below works just fine:

[code]

<img width="803" alt="screen shot 2017-12-18 at 5 01 44 pm" src="https://user-images.githubusercontent.com/308592/34092001-2958f064-e415-11e7-8e9d-384cc6d8bc96.png">

I believe the issue you're facing with these 3 states is that the return type for `.mapShape()` does not return a `MKPolygon`, instead, it returns `MKShapesCollection` that's a collec

[2017-12-18 18:52] joeuelk commented on #69
Thank you so much for the response. That makes sense. I'll give this a shot and see how it goes.

I really appreciate it!

[2017-12-18 19:47] joeuelk commented on #69
Works great. Thanks again

[2017-12-18 19:47] #69 closed

[2017-12-18 23:05] vfn commented on #52
@SebastianBoldt, I'm sorry for taking so long on getting back to you.

I run the code you provided and I believe you are spot on. The issue is with the self intersecting shape, and the workaround you have of buffering it with `0` has been suggested before on other libraries using GEOS.

The error reported by GEOS is `TopologyException: Input geom 0 is invalid: Self-intersection at or near point 9.

[2017-12-18 23:09] vfn commented on #65
@JiDai are you still experiencing this problem? If yes, could you please create a project that reproduces the issue and push it into a public github repo and share the link here?

Thanks!

[2017-12-20 15:52] JiDai commented on #65
I juste created new project (Single View App), add podfile and install. Here is he repo https://github.com/GEOSwift/GEOSwift

[2017-12-20 23:15] vfn commented on #65
You're getting the same issue on this new project?

I cloned your repo and couldn't replicate it:

[code]

And the project running:
<img width="1394" alt="screen shot 2017-12-21 at 10 12 31 am" src="https://user-images.githubusercontent.com/308592/34233121-a31f1dbe-e637-11e7-90c8-ee6494efdf36.png">

[2017-12-21 00:09] hansen-m opened #70 "Playground - Ambiguous reference to member 'subscript'"
When running the included playground I get the following error:

`Ambiguous reference to member 'subscript'`

Related to line 79, which is:

`let italy = geometries[0] as? MultiPolygon`

Did I miss something?

[2017-12-21 03:49] vfn commented on #70
@hansen-m Thank you for raising this issue. I have pushed some changes and published a new version of the pod (2.1.1).

https://github.com/GEOSwift/GEOSwift/compare/2.1.0...2.1.2

[2017-12-21 03:50] #70 closed

[2017-12-21 17:29] JiDai commented on #65
Damn.
Yes, same issue on this new project.
So it is my env ?

[2017-12-21 17:33] JiDai commented on #65
I found similar issues on Geos trac project. Can you bump dependency ?

[2017-12-21 22:36] vfn commented on #65
@JiDai What do you mean by `Can you bump dependency ?`

[2017-12-22 07:40] JiDai commented on #65
Geos has been updated to 3.6.2. I supposed you could upgrade geos to this version but your pod file does not specify version, so the version installed is 3.5. Geos has not publish a version ulterior to 3.5 on cocoa pods ?

[2018-01-02 00:38] vfn commented on #65
@JiDai would you like to have a go at that? The GEOS podspec repo is at https://github.com/GEOSwift/geos

Please update it and then create a pull request for the new GEOS pod and another PR on this repo if needed.

Thanks!

[2018-01-10 03:46] adampitchie commented on #65
I had the same issue. However, after looking at the CLI output, I found that I just needed to install `autoconf` and `automake`. These can easily be done with homebrew.

Once I did that, I was able to `pod install` without any errors being thrown.

Hope this helps!

[2018-01-18 06:02] zhouhao27 opened #71 "Large data issue"
I have a geojson which includes more than 1 million polygon. I need your advice on how to efficiently to render the polygon in MKMapView? Thanks.

[2018-01-19 00:23] vfn commented on #71
@zhouhao27 can you create a sample project containing the geojson file and also explain the problem you are facing?

If the issue is just the performance of rendering all the polygons at once, `MKMapView` should be able to deal with removing polygons that are off screen. If the issue is that you might have many polygons at once on screen, you should look into clustering the polygons, using a [Quad

[2018-01-22 04:01] zhouhao27 commented on #71
I'm using QuadTree now. But it can't solve my problem because I need a coordinate in QuadTree for each polygon. But I may not be able to find the polygon in my current screen because the center of the polygon (coordinate) is not inside the visible rect.

[2018-01-22 05:22] vfn commented on #71
@zhouhao27 if you create a sample app with your geojson and the quadtree algorithm you are using, I'd be able to help you better.

[2018-01-23 04:27] zhouhao27 commented on #71
@vfn OK, I'll do that. I'm thinking there could be a better data structure for that. The only thing is I can't give you the full geojson data.

[2018-01-23 05:45] vfn commented on #71
@zhouhao27 no problems. Just add enough info for the problem to be reproducible

[2018-01-23 07:50] zhouhao27 commented on #71
@vfn I've done the testing application. Here is the screenshot: (the problem is easy to reproduce when zoom level is big enough, the polygon is rendered in green color and red border)

![simulator screen shot 23 jan 2018 3 26 57 pm](https://user-images.githubusercontent.com/8099731/35263200-cf29c6ae-0052-11e8-99fd-436680d4ed3c.png)

You can see some area is not rendered because the center of the p

[2018-01-24 11:18] zhouhao27 commented on #71
I uploaded the latest version with full geojson data (different smaller geojson file).

To run the app and see the map. Please adjust your simulator location to:  1.30645, 103.84967

[PolygonDemo.zip](https://github.com/GEOSwift/GEOSwift/files/1659591/PolygonDemo.zip)

[2018-01-29 22:43] vfn commented on #71
@zhouhao27 Thank you for creating the project. It would be easier if you create a public repo and push your code to that repo.

I have a quick look at the code and you're not using `GEOSwift`, right?

I believe you'll need to adapt your code. The quadtree solutions is good for disjoint points/shapes. Your problem is a bit different as clustering on that sense doesn't make sense.

What I'd do in th

[2018-01-31 03:39] zhouhao27 commented on #71
@vfn Thanks for your reply. Currently I do is:

- Not get polygons in visible rectangle
- Enlarge the area to get the polygons
- But I only render the polygons which is intersect with visible rectangle.

This works much better in my case. But it's not generic solution because some polygons maybe too big.

Basically my problem becomes what the best data structure should be used to retrieving the po

[2018-02-05 23:28] vfn commented on #71
@zhouhao27 you could use GEOSwift/GEOS to help with finding the intersecting polygons. Then if there are too many, and the zoom is too far, you can merge some of them until the zoom level is deeper, where you'd then decide to draw the individual polygons.

Depending on your requirements, it can be the case that you should provide the map tiles, instead of drawing polygons. The solution for your pr

[2018-02-08 17:26] joeuelk opened #73 "Errors in Xcode 9: Geometry has no member geometries"
I'm getting an error in Xcode 9.2 / Swift 4 on a project that was working in Xcode 8.

[code]

The following errors with "Geometry has no member geometries":
`if let geo = features?.first?.geometries?.first as? MultiPolygon<Polygon> {`

And this warns about being deprecated:
`let features = try Geometry.fromGeoJSON(geoJSONURL)`

But when I switch it to the suggestion:
`let features = try Geometry.

[2018-02-08 20:11] joeuelk commented on #73
Looks like this is working:

[code]

But it's still complaining about this being deprecated:
`let features = try Geometry.fromGeoJSON(geoJSONURL)`

[2018-02-09 01:12] vfn commented on #73
Hi @joeuelk,

The readme file was out of date. I have just updated it to match the api changes. The code on the playground file is up to date, and you can use it as a guide.

The deprecation notice is defined at https://github.com/GEOSwift/GEOSwift/blob/feb5124f1a758ac8162fdf0adb06065de897d07e/GEOSwift/GeoJSON.swift#L22 and it points to the new function to be used instead.

The `fromGeoJSON` metho

[2018-02-09 02:26] joeuelk commented on #73
Thanks much for the explanation

[2018-02-09 02:27] #73 closed

[2018-02-12 15:04] funkenstrahlen opened #74 "GEOSwift # TopologyException: side location conflict at 8.6666822676303692 49.6224086061181."
[I use this geojson](https://gist.github.com/90289f724574a5fc5c6b1b97b7a44b0a). It contains geometries (polygons and multi polygons) marking regions in Germany.

I want to find out in with region (geometry) a specific map location is contained in.

This is what I do (shortened at some places)

[code]

For some locations I see the error in my terminal:
[code]

Every time this error occurs the funct

[2018-02-12 17:42] funkenstrahlen commented on #74
I use the `geos` `isValid()` function to find out that one of the polygons in the geojson is invalid. Its the one:

[code]

How can I find out what's wrong with it? How can I fix it?

[2018-02-12 18:11] funkenstrahlen commented on #74
I could find the bug in the geojson.

I added this to the Geometry extension, maybe this is also a good idea to add to the code of this repo:

[code]

[2018-02-12 18:11] #74 closed

[2018-02-15 03:34] vfn commented on #74
@funkenstrahlen, good job! That was a nice detective work.

Could you create a PR adding the `isValid` property and some tests.

Cheers!

[2018-02-15 18:13] funkenstrahlen commented on #74
I see what I can do. But might take some time.

[2018-02-16 08:51] siddharthan64 opened #75 "import module error - when added to the podfile of a pod framework"
I'm trying to pod install `GEOSwift` into my project's (lets say child xcodeproj) parent project (lets say Parent xcodeproj).

Child .xcodeproj has its own podfile where I have added RxSwift, RxCocoa, Realm and this GeoSwift library. Here is the cocoapods file as show below

    source 'https://github.com/CocoaPods/Specs.git'
    platform :ios, "9.0"
    inhibit_all_warnings!
    use_frameworks!

[2018-02-18 22:42] vfn commented on #75
@siddharthan64 can you please post the output of `pod install`?

[2018-02-26 05:55] Tybion opened #76 "Features.fromGeoJSON fails if there is a feature with null geometry"
This feature (within a file with a list of features, produced by ogr2ogr) causes .fromGeoJSON to return a nil.  It does not seem to throw an error.

{ "type": "Feature", "properties": { "gml_id": "dw_drillhole_full_pet.fid-618ffdfe_161c6b53f05_-1767", "project": "MIN", "site_id": "043786", "confidential": false, "bus_purpose": "Stratigraphic Test", "show_yn": true, "program": "Cobar Aircore End of

[2018-02-27 23:07] vfn commented on #76
@Tybion would you like to create a PR with the suggested improvements?

[2018-02-28 04:18] Tybion commented on #76
What does that entail?

[2018-02-28 04:25] Tybion commented on #76
This is a fantastic project, but I am totally bogged down with work at the moment, and this is my very first Swift app, so I just can't take this on.  I do contribute back to Open Source, but in areas where have experience.  Sorry.

[2018-03-01 18:40] biomiker opened #78 "pod install fails on macOS High Sierra"
I'm running macOS High Sierra 10.13.3, XCode 9.2 (9C40b), and cocoapods 1.4.0.  Running 'pod install' for 'GEOSwift' yields the following error.  It seems to be purely related to the SVN export.  I did notice that the geos project has transitioned from SVN to GIT (https://trac.osgeo.org/geos/wiki/CodeRepository).   Has nobody else encountered this?  How can we get our wonderful GEOSwift back under

[2018-03-01 20:52] mojtabacazi commented on #78
Same issue here. I was thinking about creating a new podspec and change the source to the git repo.

[2018-03-01 23:10] vfn commented on #78
@biomiker / @mojtabacazi would you guys like to fix this issue and then create a pull request with the working code?

[2018-03-01 23:33] mojtabacazi commented on #78
@vfn I don't think it's fixable here, it seems like pod deosn't like SVN repos.

[2018-03-01 23:37] vfn commented on #78
@mojtabacazi you can fix the [geos](https://github.com/GEOSwift/geos) pod and make it point to the git repo.

[2018-03-01 23:53] biomiker commented on #78
I wouldn't even know where to start.  :(

For what it's worth, I feel like a workaround should be possible since the pod install works on older versions of macOS.  And I don't even think it fails on every High Sierra install.  But I don't really know where to start with that either.    Definitely in need of help from experienced contributors/developers.   Please?

[2018-03-02 00:12] mojtabacazi commented on #78
This is a problem with SVN 1.9. SVN 1.7 works without problem

[2018-03-02 01:39] biomiker commented on #78
Thanks @mojtabacazi ... just curious, it looks like the git does have a 3.5.0 tag so why can't that be used?  Any suggestions on how to install GEOSwift under High Sierra?

[2018-03-02 01:46] mojtabacazi commented on #78
@biomiker Like I said if I use 3.5.0, cocoapod will complain about duplicate podspec. Not sure how I can tell it to use one vs the other.

[2018-03-02 02:01] biomiker commented on #78
Thanks, I should have gotten that from your previous comment.  So possible solutions at this point are:

1.  Figure out how to update the pod master spec repo to replace the existing 3.5.0 spec with yours
or
2.  Figure out how to specify in the podfile that GEOSwift 3.5.0 should be pulled from your repo and not the master repo.

Is that about right?

Would one possible workaround be to (perhaps co

[2018-03-02 02:10] biomiker commented on #78
Okay so modifying the local clone works!   I'm not sure if this is a good idea or not, but at least it allows the pod to install.  The change is actually very simple:

[code]

[2018-03-02 14:17] ElnazTaqizadeh commented on #78
I did these changes, but keep getting this error:

`[!] Unable to find a specification for 'geos'.`

[2018-03-04 22:29] vfn commented on #78
I have pushed a new version of `geos` pod, and `GEOSwift` develop branch is now using it. Please let me know if that fixes the issue.

[2018-03-05 13:05] WilliamMouline opened #79 "GeoSwift equivalent on Android"
Hi,

I would like to know if there is any progress on the Android library or if you know a solution on Android to use operations on geographical objects ?

Thanks.

[2018-03-05 14:24] ElnazTaqizadeh commented on #78
still returns the same error as @biomiker mentioned.

[code]

[2018-03-05 15:57] mojtabacazi commented on #78
@Elnaz can you copy your PodFile here?

[2018-03-05 15:58] ElnazTaqizadeh commented on #78
[code]

[2018-03-05 16:33] mojtabacazi commented on #79
@WilliamMouline Look at spatialite project for android.

[2018-03-05 16:58] mojtabacazi commented on #78
@ElnazTaqizadeh  Add the following before `GEOSwift`
`pod 'geos', :git => 'https://github.com/GEOSwift/geos'`

Run `pod update` (or `pod install`) with `--verbose` flag

[2018-03-05 17:29] mojtabacazi commented on #78
@ElnazTaqizadeh TL;DR This should work as is  without problem. Of course you need YOUR_TARGET_NAME with actual target name.

[code]

[2018-03-05 18:16] jwilson85 opened #80 "SVN down? pod install Error installing geos"
[code]

[2018-03-05 18:43] jwilson85 commented on #80
I tried the below pod install.
`
pod 'GEOSwift', :git => 'https://github.com/mojtabacazi/GEOSwift.git', :branch => 'develop'
`
However, the install just hangs for 20 min. In his example he includes:
`
source 'https://github.com/mojtabacazi/Specs.git'
`
For me that causes other pods to fail. saying they cant find the repo

Is there an alternative to the GEO library? it looks as if this project has

[2018-03-05 18:54] mojtabacazi commented on #78
@jwilson85 Copy your podfile here pls

[2018-03-05 20:39] jwilson85 commented on #78
If I put `source 'https://github.com/CocoaPods/Specs.git'` in there Alamofire give me an error

[2018-03-05 20:40] jwilson85 commented on #78
So I should put both
`source 'https://github.com/CocoaPods/Specs.git'`
`source 'https://github.com/mojtabacazi/Specs.git'`
in there?

[2018-03-05 20:42] jwilson85 commented on #78
I tried to add both to the pod file and ran a pod install.
I am back to it hanging at `Installing geos (3.5.1)`

[2018-03-05 20:43] jwilson85 commented on #78
here is my current pod file
`
# Uncomment this line to define a global platform for your project
platform :ios, '9.0'

source 'https://github.com/CocoaPods/Specs.git'
source 'https://github.com/mojtabacazi/Specs.git'

# Comment this line if you're not using Swift and don't want to use dynamic frameworks
use_frameworks!

def core_pods

    pod 'Alamofire'
    pod 'SwiftyJSON', :git => 'https://gith

[2018-03-05 21:16] mojtabacazi commented on #78
@jwilson85 configuring `geos` takes a long time that's why I said use `pod update --verbose`  so you can see what's happening.

[2018-03-05 22:50] vfn commented on #78
@mojtabacazi when you have a working `geos` podspec, create a PR on https://github.com/GEOSwift/geos and I can update the main pod.

I'm not using `GEOSwift/geos` at the time, so I'm not maintaining them. If you are using and have interest on actively maintaining, I can add you as a collaborator.

[2018-03-05 22:52] vfn commented on #80
Duplicate of https://github.com/GEOSwift/GEOSwift/issues/78

[2018-03-05 22:52] #80 closed

[2018-03-05 23:12] mojtabacazi commented on #78
@vfn Sure I can fix this issue.

[2018-03-06 20:29] jwilson85 commented on #78
@mojtabacazi  So I did what you suggested. And I dont understand whats happening. The other pods will say they don't exist when I goto build from xCode. Alternatively, if I copy in the GEOSwift folder and run a pod install everything works.

[2018-03-06 20:46] jwilson85 commented on #78
Found it
[code]

[2018-03-06 20:48] mojtabacazi commented on #78
@jwilson85 That is not using my PodSpec for `geos`. Can you copy your podfile here?

[2018-03-06 20:49] jwilson85 commented on #78
When using the spec I get
[code]

[2018-03-06 22:02] mojtabacazi commented on #78
@jwilson85  Following should solve your problem.

[code]

[2018-03-06 22:19] mojtabacazi commented on #78
@vfn Submitted PR to remove `geos` version restriction

[2018-03-06 22:23] himi1 commented on #78
@mojtabacazi : This is my current pod file:
[code]

And I did
[code]

The pods installed successfully, but I am now getting the following errors in xcode:
- test123/Pods/GEOSwift/GEOSwift/GEOSwift.h:10:9: Module 'geos' not found
- Could not build Objective-C module 'GEOSwift'

[2018-03-06 23:04] jwilson85 commented on #78
@himi1  Is your target test123

[2018-03-06 23:06] himi1 commented on #78
Yes. I created a sample app to display .geo.json on a view controller.

Here's the full podfile:
[code]

[2018-03-06 23:10] jwilson85 commented on #78
@himi1 Did you also run
`brew link libxml2 `

[2018-03-06 23:13] himi1 commented on #78
oh. I did not do that.

It's giving me this warning:
[code]

[2018-03-06 23:14] jwilson85 commented on #78
try running
`brew install automake autoconf libtool libxml2 pkg-config` again and then
`brew link libxml2`

[2018-03-06 23:17] himi1 commented on #78
I ran the following command to link it now:
[code]

But xcode errors persist.

[2018-03-06 23:18] jwilson85 commented on #78
Ya im still having other libs give linker errors. I'm no longer getting a pod install error. which was what I thought was giving me the errors on other libs. Xcode just got to them first I thought and since pods failed it didn't install any.

[2018-03-06 23:25] himi1 commented on #78
@jwilson85 : What are the errors that you are getting?

[2018-03-06 23:31] jwilson85 commented on #78
``
ld: framework not found GoogleMaps
clang: error: linker command failed with exit code 1 (use -v to see invocation)
``

I tried to add framework search path that didn't work either.

[2018-03-06 23:37] himi1 commented on #78
Try deleting ~/Library/Developer/Xcode/DerivedData and then delete Podfile.lock file. Finally, run pod install once again.

[2018-03-06 23:58] jwilson85 commented on #78
Hey! that seems to have worked. I deleted podfile.lock the pods folder and cleared DerivedData. It's building now. TY!
@himi1

[2018-03-07 03:15] himi1 commented on #78
@jwilson85 : My pleasure.

Can you copy paste your podfile? I am still unable to fix my xcode errors.

[2018-03-07 14:15] jwilson85 commented on #78
@himi1  sure
[code]

[2018-03-12 21:30] dan-burt commented on #78
I'm having issues installing GeoSwift on Sierra 10.12.6, XCode 9.2, Cocoapods 1.4.0.

Podfile:
[code]

Console reports:

I have brew installed, and run:
brew install automake autoconf libtool libxml2 pkg-config again and then
brew link --force libxml2

how can i fix this? Thought it shouldn't be this hard with cocoapods!

[2018-03-12 21:47] jwilson85 commented on #78
@dan-burt did you happen to past the last part of the brew install command into your console. Sorry for the dumb question

[2018-03-12 21:49] dan-burt commented on #78
@jwilson85 sorry, the terminal session has already been closed

[2018-03-13 04:20] jwilson85 commented on #78
@dan-burt just checking to make sure you didn’t past the “again and then” into terminal

[2018-03-13 05:57] AnilkumarRabhasa opened #82 "Not able to install in iOS swift project"
I am not able to install this pod file to my xcode project. And its showing following errors in terminal

Can anyone help me to fix this?

[2018-03-13 06:09] vfn commented on #82
@AnilkumarRabhasa please look at the last two lines of what you pasted above and then have a look at the the [cocoapods section of the readme file](https://github.com/GEOSwift/GEOSwift#cocoapods)

[2018-03-13 07:30] dan-burt commented on #78
@jwilson85 , sorry I had mis-read your question. No I definitely did not include the "again and then" into the command string

[2018-03-13 11:31] AnilkumarRabhasa commented on #82
Thanks fixed.

[2018-03-13 11:41] AnilkumarRabhasa opened #83 "Not able to load LineString in MapKit using GeoSwift"
I have installed GeoSwift successfully to my swift project. I have LineString.geojson.

Its LineString. But, after parsing its not showing anything in maps.

Following is my code.

[code]

After the following line, its not going inside, its executing outside of the function.

Can anyone suggest me, how to show LineString in GeoSwift MapKit?

[2018-03-13 12:04] #82 closed

[2018-03-13 12:14] vfn commented on #83
`let geometries = try! Features.fromGeoJSON(geoJSONURL)` You get `Features` back, and not `Geometries`

`Features` contain `Geometries`, so the next line should get geometries from the features you got back from the geojson, and then you can get your line string out of the array of geometries.

[code]

Please look at the usage example at https://github.com/GEOSwift/GEOSwift#usage

There is also a

[2018-03-13 12:35] AnilkumarRabhasa commented on #83
Really thanks so much for your quick response, I am very new to maps, Even I tried with following code as you suggested, But, still its not loading anything.

Can you please guide me to load LineString in maps using this GEOSwift?

[2018-03-13 15:11] AnilkumarRabhasa commented on #83
@vfn I am waiting for your response.

[2018-03-13 16:02] ElnazTaqizadeh commented on #78
Every time I update pod for other dependencies the problem appears with different error!This is the new swift compile error:

[code]
I tried several ways like clean + build, change the scheme to dependency, delete derived data, none of them worked.

[2018-03-13 23:12] vfn commented on #83
@AnilkumarRabhasa there is nothing wrong with the lib. What you need help with is with debugging your code. There is plenty of examples that you can look to help you with achieving your goal.

Please look at the playground and the tests for more examples.

I have loaded one of the line strings above into the projects playground and the code worked as expected.

<img width="922" alt="screen shot 20

[2018-03-13 23:20] vfn commented on #83
I noticed you are having problems with other libs as well:

https://github.com/googlemaps/google-maps-ios-utils/issues/170

and you have already being notified that your GeoJSON is likely invalid.

https://stackoverflow.com/questions/49236503/google-maps-ios-sdk-not-able-to-show-linestring-from-geojson-file

I have tweaked the GeoJSON extract you posted, and I tweaked it to make it valid:

[code]

[2018-03-13 23:20] #83 closed

[2018-03-14 05:26] AnilkumarRabhasa commented on #83
@vfn if my data is not valid, how the parsing happening, it should not do parsing, but, its doing parsing successfully. After following line code, its not executing, exiting the condition.

                    if let shapesCollection = geo.mapShape() as? MKShapesCollection {

[2018-03-14 05:32] vfn commented on #83
@AnilkumarRabhasa did you check what `geo.mapShape()` is? If it's failing that `if` condition, it's because the unwrapping/casting is failing. It's either returning `geo.mapShape()` is either returning `nil` or some other `MKShape` subclass.

https://github.com/GEOSwift/GEOSwift/blob/master/GEOSwift/MapKit.swift

[2018-03-14 05:38] vfn commented on #83
http://geojsonlint.com/ you can check for issues on your GeoJSON file at that URL

[2018-03-14 06:24] AnilkumarRabhasa commented on #83
I have checked my code in http://geojsonlint.com/ its loading the data. So, it is valid json.

[2018-03-14 06:29] vfn commented on #83
Nice, so now you just need to debug your code to see what is failing

[2018-03-14 06:32] AnilkumarRabhasa commented on #83
The following code also executing while debugging time,

 case is LineString:
            var coordinates = (self as! LineString).points.map({ (point: Coordinate) ->
                CLLocationCoordinate2D in
                return CLLocationCoordinate2DFromCoordinate(point)
            })
            let polyline = MKPolyline(coordinates: &coordinates,
                count: coordinates.count)

[2018-03-14 06:32] AnilkumarRabhasa commented on #83
Is there any example code for loading LineString in github?

[2018-03-14 06:33] vfn commented on #83
Have you debugged the return value of `geo.mapShape()`?

[2018-03-14 06:41] AnilkumarRabhasa commented on #83
![screen shot 2018-03-14 at 12 10 46 pm](https://user-images.githubusercontent.com/8393997/37387014-d003645e-2780-11e8-834f-57a55bb8a9c7.png)

(lldb) po geo.mapShape()
<MKPolyline: 0x604000887990>

[2018-03-14 06:44] vfn commented on #83
Cool! It's an `MKPolyline`, and not a `MKShapesCollection`.

Have you managed to make it work now that you know why the `if` condition was failing?

[2018-03-14 06:53] AnilkumarRabhasa commented on #83
If I gave like this following

                        if let shapesCollection = geo.mapShape() as? MKPolyline {
                            let shapes = shapesCollection.shapes //show error in this line like following

Value of type 'MKPolyline' has no member 'shapes'
So, how to handle here, any suggestions, please?

[2018-03-14 06:57] vfn commented on #83
What shapes are you looking for, why don't you just use the `MKPolyline` in the map?

https://developer.apple.com/documentation/mapkit/mkpolyline

[2018-03-14 07:04] AnilkumarRabhasa commented on #83
But, from here how to get coordinates?

[2018-03-14 07:17] vfn commented on #83
@AnilkumarRabhasa your original question is related to present shapes on a mapview. and that you can do with the MKShape you got from `geo.mapShape()`.

Now to get the coordinates, you can either get them from the GeoJSON itself, of via `MKPolyline`'s `func getCoordinates(_ coords: UnsafeMutablePointer<CLLocationCoordinate2D>,
              range: NSRange)`

https://developer.apple.com/documentati

[2018-03-14 08:02] AnilkumarRabhasa commented on #83
Hi, I am able to get coordinates, but, its showing only single while in my geojson file I have above thousand of coordinates

Any suggestions? I am really thankful to your valuable response so far.

[2018-03-14 08:20] vfn commented on #83
Mate, I have no idea of what you are trying to do with that code. It makes no sense at all, and apparently you didn't event look at the links I posted on my previous answers.

Based on the original question, the code below should do what you want, although I haven't tested it.

[code]

[2018-03-14 08:26] AnilkumarRabhasa commented on #83
@vfn I have checked your sample already, but, I couldn't find solution for my LineString type.

I used your above code, same result as I mentioned above my code, its showing single coordinate data, even I have 6000 data in my geojson file. You can see blue dot in that PFA.

I want to show all the coordinates data instead of single data.

PFA.

![simulator screen shot - iphone 8 - 2018-03-14 at 13

[2018-03-14 08:44] vfn commented on #83
Can you please paste the contents of your `MKMapViewDelegate`s `func mapView(_ mapView: MKMapView, rendererFor overlay: MKOverlay) -> MKOverlayRenderer`?

My guess is that you are not returning the appropriate renderer for `MKPolyline`s

[2018-03-14 09:01] AnilkumarRabhasa commented on #83
if let polyline = overlay as? MKPolyline {
            let renderer = MKPolylineRenderer(polyline: polyline)
            renderer.fillColor = UIColor.blue.withAlphaComponent(0.5)
            renderer.strokeColor = UIColor.blue.withAlphaComponent(0.8)
            renderer.lineWidth = 6.0

            return renderer
        }

        return MKOverlayRenderer(overlay: overlay)

[2018-03-14 09:05] AnilkumarRabhasa commented on #83
But, when 6000 coordinates data will execute even `geo` having that data.

[code]

This is executing only for first data, after that completely exiting. Can you please tell me where to make loop to show all the coordinates in map?

[2018-03-14 09:12] AnilkumarRabhasa commented on #83
PFA.
![screen shot 2018-03-14 at 2 38 45 pm](https://user-images.githubusercontent.com/8393997/37393020-e9ff6f64-2795-11e8-9523-5076a973ea21.png)

[2018-03-14 09:22] vfn commented on #83
Shouldn't you be looping through the features array?

[2018-03-14 09:49] AnilkumarRabhasa commented on #83
I tried this, but showing error

for shape in features! {
                    if let geo = shape.first?.geometries?.first as? LineString, //Value of type 'Feature' has no member 'first'
                        let overlay = geo.mapShape() as? MKPolyline {
                        mapView.add(overlay)
                    }

[2018-03-15 11:33] AnilkumarRabhasa commented on #83
Finally, found solution with help of one of my friend.

 DispatchQueue.global(qos: .background).async {
            if let geoJSONURL = Bundle.main.url(forResource: "LineString", withExtension: "geojson") {
                do {
                    var overlays = [MKPolyline]()
                    let features = try Features.fromGeoJSON(geoJSONURL)
                    for item in features! {

[2018-03-20 10:07] AnilkumarRabhasa opened #84 "Showing 340+ warnings in Swift 4 version"
Thanks for the great library. But, it is showing 340+ warnings in my xcode for Swift 4 version.
Can you make compatible if possible to Swift 4?

[2018-03-20 11:10] vfn commented on #84
@AnilkumarRabhasa can you please post a screenshot or log?

[2018-03-20 15:22] AnilkumarRabhasa commented on #84
PFA.
![screen shot 2018-03-20 at 8 51 16 pm](https://user-images.githubusercontent.com/8393997/37664078-9dfb2bf4-2c80-11e8-98cf-c78714d069ff.png)

![screen shot 2018-03-20 at 8 51 35 pm](https://user-images.githubusercontent.com/8393997/37664103-a6b70bd2-2c80-11e8-8998-3bc92e7574b8.png)

[2018-03-20 21:57] vfn commented on #84
@AnilkumarRabhasa that's lib `geos` and not `GEOSwift`. https://github.com/OSGeo/geos.git

[2018-03-20 21:57] #84 closed

[2018-03-23 13:47] macdrevx opened #85 "GeoSwift Crashes"
The following code snippet crashes in GeoSwift (tested in 2.1.0, 2.1.3, swift 3.2, swift 4.0):

[code]

The crash doesn't always happen in the same place. Happy to provide more info as needed.

[2018-03-23 16:00] raugturi commented on #85
If it helps, the problem appears to be resolved if the boundary() call is not chained with anything else. I did receive this error at one point: "libc++abi.dylib: Pure virtual function called!" which leads me to believe some part of this chaining is calling a virtual function inside of a constructor or destructor. I just don't know how that's the cause or how to find it.

I did find this stackover

[2018-04-01 21:17] derickito commented on #75
I have the same issue. Here's the output of pod update:

Update all pods
Updating local specs repositories
  $ /usr/bin/git -C /Users/erickdelorbe/.cocoapods/repos/master fetch origin
  --progress
  $ /usr/bin/git -C /Users/erickdelorbe/.cocoapods/repos/master rev-parse
  --abbrev-ref HEAD
  master
  $ /usr/bin/git -C /Users/erickdelorbe/.cocoapods/repos/master reset --hard
  origin/master
  HEAD

[2018-04-02 23:29] vfn commented on #75
@derickito the issue on your case is a missing dependency `aclocal`, that's pointed out on the last few lines of the output.

[2018-04-11 20:42] jwilson85 commented on #85
Im getting a force unwrap crash on the line
let boundaryGEOM = GEOSBoundary_r(GEOS_HANDLE, self.geometry)!
Inside the func boundary() -> Geometry {

[2018-04-11 23:40] vfn commented on #85
@jwilson85, while unrelated to the OP's issue, this is still a problem.

Unfortunately all those function use force unwrapping, and it will result in a crash whenever GEOS returns nil.

We could either change this functions to return nil, in case of failure, or to make them to throw an error. Both changes would be breaking changes tho.

Would you like to have a go at it?

[2018-04-13 00:07] vfn commented on #85
@jwilson85 I believe the library does have some more force unwrapping happening on other files. But as a starting point, try to work on the file your pointed out, and if you find anywhere else, please feel free to change as you go.

Thanks!

[2018-04-16 19:09] jwilson85 commented on #85
I have never done a git hub PR before Do I need access from you? @vfn

[2018-04-16 23:13] jwilson85 opened #87 "way to create GEOSwift with MKpolygon?"
I would like to create a Geometry with an MKPolygon so that I can use the intersection method. Unless you know of a better way. I am trying to create a single polygon out of two intersecting polygons.

[2018-04-16 23:17] vfn commented on #85
@jwilson85 that's awesome! Please create a pull request https://github.com/GEOSwift/GEOSwift/pulls and we will review your changes. Thanks!

[2018-04-16 23:18] vfn commented on #87
@jwilson85 could you please create a gist or add some code here?

[2018-04-16 23:25] vfn commented on #87
You should be able to, you'll need to get the polygon points, as well as the points of inner polygons and then transform that into  a Polygon.

https://developer.apple.com/documentation/mapkit/mkpolygon
https://developer.apple.com/documentation/mapkit/mkmultipoint

[2018-04-17 12:45] macdrevx commented on #85
@jwilson85 if you haven't already done so, you may want to create a fork of this repo. You can push your changes there and then create the PR back to the main repo.

[2018-04-17 13:46] jwilson85 commented on #87
Can you elaborate on the transferring into Polygon? I see it takes GEOGeom property. Which is typed as an opaque pointer. But I get lost in trying to figure out what that is.

[2018-04-20 04:55] vfn commented on #87
@jwilson85 once you have the points from your `MKPolygon`, you can then instantiate a Polygon via `init?(shell: LinearRing, holes: Array<LinearRing>?)`

That's an example I run using the playground inside the project:

<img width="1101" alt="screen shot 2018-04-20 at 2 53 21 pm" src="https://user-images.githubusercontent.com/308592/39031299-aa499638-44aa-11e8-8f3a-c8c1bb9a4fc0.png">

I didn't hand

[2018-04-20 16:40] jwilson85 commented on #87
I see that gives me enough info to turn an MKPolygon into a Polygon TY

[2018-04-20 16:40] #87 closed

[2018-04-23 22:02] sbrioux opened #89 "Swift 4 and GEOSwift compile warnings"
Currently in my application i'm seeing ~ 354 total warnings from the GEOSwift library.  Is there any plan to update to fix these warnings?

[2018-04-23 22:11] macdrevx commented on #89
@sbrioux not sure of the plans, and I too would like to see them fixed. If you want to use the library anyway in the meantime but silence the warnings (and if you're using CocoaPods) you can ignore them using `pod 'GEOSwift', inhibit_warnings: true` in your Podfile.

[2018-05-02 13:19] Adraesh opened #90 "GeoJSON file returned as nil"
Hi!

I have a well formatted geoJSON file including GeometryCollection of type Polygon.

It seems that the lib does not support it. I tried to load my file using the example provided:

[code]

Could you confirm this?

Bellow my GeoJSON file:

[code]

Thank you in advance.

[2018-05-03 02:42] vfn commented on #90
Hi @Adraesh, I used http://geojsonlint.com/ to validate your GEOJSON and it outputted the following:

The following works:

[code]

[2018-05-03 03:15] vfn commented on #89
@sbrioux can you please provide more information? A screenshot would help.

Thanks!

[2018-05-03 07:01] Adraesh commented on #90
Hi @vfn and thank you for your answer.

By modifying a bit the lib and especially the GeoJSON.swift class I managed to make it work for the full file.

I first manage to handle the GeometryCollection parsing inside a Feature
Then I also manage to handle the case with embedded GeometryCollection inside a GeometryCollection

Bellow the class modified (method ParseGEOJSONFeature and parseGEOJSONGeome

[2018-05-03 11:07] vfn commented on #90
@Adraesh Would you mind creating a pull requests with the changes above?

[2018-05-03 12:04] Adraesh commented on #90
@vfn Sure: https://github.com/GEOSwift/GEOSwift/pull/92

[2018-05-03 13:39] sbrioux commented on #89
Looks like just 6 issues from the GEOSwift library but 356 from the geos library

<img width="271" alt="screen shot 2018-05-03 at 9 39 00 am" src="https://user-images.githubusercontent.com/4192331/39579897-d942a000-4eb5-11e8-8eb3-3133dae35f21.png">

[2018-05-03 13:50] vfn commented on #89
@sbrioux it would be great if you could create a pull request, and fix these 6 warnings.

To silence the remaining ones from`geos` use @macdrevx 's suggestion.

[2018-05-03 13:52] vfn commented on #39
@samritchie Would you be able to create a pull request with what you are suggesting?

Thanks!

[2018-05-04 02:43] samritchie commented on #39
Can I verify if the playground should be working? I only get ```Playground execution failed:

error: Couldn't lookup symbols:
  __T08GEOSwift8GeometryC7crossesSbACF
  __T08GEOSwift8WaypointCMa
  __T08GEOSwift8GeometryC8disjointSbACF
  __T08GEOSwift12MultiPolygonCMa
  __T08GEOSwift8GeometryC6relateSbAC_SS7patterntF
  __T08GEOSwift8GeometryC12intersectionACSgACF
  __T08GEOSwift8GeometryC6equalsSbACF

[2018-05-04 04:28] vfn commented on #39
@samritchie it was working until Xcode 9.2, that was the last time I checked. I haven't tried it on Xcode 9.3

[2018-05-09 17:40] davenquinn commented on #65
Hi, I don't know if anything has been resolved with this, but I am getting a similar error on attempted install on High Sierra. Essentially the same output as above, ending with
[code]
([full logs](https://github.com/GEOSwift/GEOSwift/files/1988844/geoswift-install-log.txt) attached.)

This occurs whether I try to integrate with my project, or do a clean install by cloning this repo and then runni

[2018-05-10 00:33] vfn commented on #65
@davenquinn Can you confirm what version of the library you are trying to install? I released v2.2.0 last week. If you don't have the latest version, can you please try that out?

[2018-05-21 11:38] pwinde opened #96 "GeoJSON parsing ignores the "id" member of Feature"
The GeoJSON specification, [RFC 7946 section 3.2](https://tools.ietf.org/html/rfc7946#section-3.2) , specifies that:

Currently, GEOSwift does not parse or support the `id` member of Feature.

[2018-05-21 11:48] vfn commented on #96
@pwinde Could you please create a pull request to make sure it conforms to that RFC? Thanks

[2018-06-26 20:12] simonbilskyrollins commented on #64
Looks like area was implemented in #94

[2018-06-26 23:10] vfn commented on #64
@simonbilskyrollins that's correct! Thank you for pointing that out.

[2018-06-26 23:10] #64 closed

[2018-07-06 18:02] macdrevx commented on #85
@vfn @jwilson85: I'm spending a few days working with @raugturi on a fix for this issue. We'll have a PR ready today or Monday with more info. The fix necessarily breaks the API, so we'll need to increment the major version number before releasing it. We've come up with a number of other ideas for this project as well, some of which would constitute fairly major changes to the API. Would anyone be

[2018-07-06 18:11] jwilson85 commented on #85
@macdrevx I hope my merged PR helped

[2018-07-10 04:01] macdrevx commented on #85
This was fixed by #100. It will be released with v3.0.0 since it's a breaking change.

[2018-07-10 04:01] #85 closed

[2018-07-10 04:03] macdrevx commented on #89
Looks like this is fixed in develop. Thanks @sbrioux and @simonbilskyrollins.

[2018-07-10 04:03] #89 closed

[2018-07-10 04:04] macdrevx commented on #79
@WilliamMouline check out https://github.com/locationtech/jts. It's actually the project that GEOS was based on.

[2018-07-10 04:04] #79 closed

[2018-07-16 02:56] XcOdeTanzania opened #107 "Pod install fails swift 4"
Error:
Installing geos (3.5.0)
[!] /bin/bash -c
set -e
type -P autoconf &>/dev/null || alias autoconf 'xcrun autoconf'
type -P autoheader &>/dev/null || alias autoheader 'xcrun autoheader'
type -P aclocal &>/dev/null || alias aclocal 'xcrun aclocal'
type -P automake &>/dev/null || alias automake 'xcrun automake'
type -P glibtool &>/dev/null || alias glibtool 'xcrun glibtool'
type -P glibtoolize &>

[2018-07-16 13:17] macdrevx commented on #107
Hi @XcOdeTanzania, the line `/bin/bash: line 2: alias: autoconf: not found` in the output suggests to me that you need to make sure you have a few dependencies installed. If you use Homebrew, you can run: `brew install autoconf automake libtool`. After that, try running `pod install` again. Let us know if this doesn't work.

[2018-07-17 16:54] XcOdeTanzania commented on #107
Thanks, it worked like a charm.

[2018-07-17 16:54] #107 closed

[2018-07-19 15:49] macdrevx opened #108 "envelope() makes incorrect geometry type assumption, resulting in crash"
This is happening on develop (has not been released to cocoapods yet). We should definitely fix it before the next release.

[code]

To fix this, we should revert the change to the return type of `envelope()` (was `Geometry`, is now `Envelope`). We may also want to eliminate the `Envelope` subclass of `Polygon`. Is there any reason its methods can't just be added to `Polygon` directly?

[2018-07-19 15:53] macdrevx commented on #108
@samritchie can you weigh in on this?

[2018-07-20 02:13] samritchie commented on #108
Yes, I’ve also noticed points & some other geometries don’t return a polygon from envelope. I’d suggest either manufacturing one with appropriate coords or return an optional. I can have a look at this, but not today, I’m flat out at the moment.

[2018-09-03 15:31] MikeManzo opened #111 "MacOS Compatibility"
In the description, it states the following Requirements:

iOS 8.0+ / **Mac OS X 10.10+**
Xcode 9
Swift 4 (For Swift 3 support use release 1.0.2 or earlier.)
CocoaPods 1.0.1+

Is MacOS no longer supported?  I get the following error when trying to install V2.2.0
_(macOS 10.11) is not compatible with `GEOSwift (2.2.0)`, which does not support `osx`._

Thx!

[2018-09-03 22:31] macdrevx commented on #111
Hi @MikeManzo, thanks for reporting this issue.

It looks like we need to update the podspec to use [`deployment_target`](https://guides.cocoapods.org/syntax/podspec.html#deployment_target) instead of `platform`. Looking at the history of the podspec file, I wonder whether it's ever been tested on macos before.

[code]

[2018-09-03 23:04] macdrevx commented on #111
There is also a UIKit import in the framework header file which will need to change.

[2018-09-03 23:10] macdrevx commented on #111
Seems like there are other issues in QuickLook.swift where we'd need to replace some UIKit stuff. Also, a cursory look at the project file suggests that there's no framework target for the mac right now.

I was hoping this would be a quick fix, but it's looking like it will be more involved.

@MikeManzo apologies for the incorrect documentation, but as far as I can tell, macOS hasn't ever been sup

[2018-09-04 12:19] Obiwan78 commented on #78
Hi Everybody, I have some troubles with this package :
Here the result of my terminal window :

18macbookrj:BuBus alban$ brew install automake autoconf libtool libxml2 pkg-config
Warning: automake 1.16.1_1 is already installed and up-to-date
To reinstall 1.16.1_1, run `brew reinstall automake`
Warning: autoconf 2.69 is already installed and up-to-date
To reinstall 2.69, run `brew reinstall autocon

[2018-09-04 14:17] macdrevx commented on #78
@Obiwan78 did you try `$ pod repo update`?

[2018-09-04 20:02] MikeManzo commented on #111
@macdrevx Sure!  I can take a swing at it.  No worries!

[2018-09-04 22:21] jwilson85 opened #112 "Any suggestions on how to work with Codable?"
[code]

Is there something I'm missing? Should we just not use Codable in this instance?

[2018-09-05 16:51] Obiwan78 commented on #78
Yes I do.

[2018-09-05 17:28] macdrevx commented on #78
@Obiwan78 based on that screenshot, it looks like you were able to install the SDK. Having a bunch of warnings is, unfortunately, typical at the moment. Do you have any build errors?

[2018-09-06 08:57] Obiwan78 commented on #78
No, no mistake of build constrcution

[2018-09-06 20:48] macdrevx commented on #78
If you just want to ignore the warnings, you can update your podfile:

[code]

After you change you're Podfile, you'll just have to run `$ pod install` again for the changes to take effect.

[2018-09-07 13:56] Obiwan78 commented on #78
Thanks a lot for your answer. It's good now.

[2018-09-19 14:01] coolio107 opened #113 "Xcode 10 compatibility"
Hi, looks like this doesn't compile with Xcode 10.
Apparently this is the issue:
https://forums.developer.apple.com/thread/106114

[2018-09-19 14:19] coolio107 commented on #113
I should add that changing the build setting for the GEOS framework according to the recommendation in that thread fixes the issue.

[2018-09-19 16:29] jwilson85 commented on #113
Let me know when this change is applied so we can move on to xCode 10 as well

[2018-09-19 19:13] coolio107 commented on #113
You can also manually apply the change:
If you installed GEOSwift using CocoaPods, select the "Pods" workspace and there the target "geos". If you manually imported it you probably have a "geos" target in your main project.
Then go to "Build Settings", find "C++ Standard Library" and select libc++

[2018-09-19 19:16] jwilson85 commented on #113
Thank you how long on a PR on this one?

On Wed, Sep 19, 2018 at 1:13 PM Joerg Schwieder <notifications@github.com>
wrote:

--
Sincerely,
Jeremy A Wilson
720-882-2617
jaywdice@gmail.com

[2018-09-19 19:45] coolio107 commented on #113
I hope you are not asking me. No idea. I just reported the issue.

[2018-09-20 02:04] jwilson85 commented on #113
I suppose I could do the PR. Let me try tomorrow.

[2018-09-26 07:41] aybarsyalcin commented on #113
thanks save my life. @coolio107

[2018-09-26 20:04] jwilson85 commented on #113
@coolio107 When I go there it's already libc++

[2018-09-26 22:19] coolio107 commented on #113
With your PR applied, I assume?

[2018-10-03 01:32] ablokker opened #115 "Swift 4.2 support"
Any plans to update this to support swift 4.2?  As far as I can tell, you cannot intermix swift versions within same project, and we're planning on updating to 4.2 soon.

[2018-10-03 13:19] macdrevx commented on #112
@jwilson85 I'm going to close this issue. Feel free to reopen if my comment didn't address your question.

[2018-10-03 13:19] #112 closed

[2018-10-03 13:20] #108 closed

[2018-10-03 13:45] egorf opened #116 "License question"
Hey guys!

First of all, this is a really cool project. It's lovely to see well integrated Swift libraries, great job.

Secondly, I have a small question regarding the licensing. GEOSwift is MIT licensed, which is really nice. However, it is based on GEOS, which is LGPL. Does this mean that if I want to use GEOSwift in my iOS application, I effectively have to make it open source? Or is the actual

[2018-10-03 14:38] macdrevx commented on #116
@egorf good question, but probably not one that is best answered here. You'll find many discussions of this topic if you search "iOS LGPL". You may also want to reach out to the GEOS team and seek your own legal counsel.

[2018-10-03 14:38] #116 closed

[2018-10-08 22:12] macdrevx commented on #115
Swift 4.2 support is now available in GEOSwift 3.0.0. Let us know how it goes.

[2018-10-08 22:12] #115 closed

[2018-10-08 22:12] macdrevx commented on #113
Xcode 10 support is now available in GEOSwift 3.0.0. Enjoy, and let us know how it goes!

[2018-10-08 22:12] #113 closed

[2018-10-08 22:14] macdrevx commented on #58
This should be resolved in geos 3.7.0/GEOSwift 3.0.0 which are now both available.

[2018-10-08 22:14] #58 closed

[2018-10-08 22:16] macdrevx commented on #65
We've revised the pod install process for GEOSwift 3.0.0 and geos 3.7.0. Please try them out and if you have any problems, reopen this issue with new info.

[2018-10-08 22:16] #65 closed

[2018-10-08 22:18] macdrevx commented on #75
@siddharthan64 if this is still not working for you, please reopen this issue. You may also want to try out version 3.0.0 of GEOSwift which was just released.

[2018-10-08 22:18] #75 closed

[2018-10-08 22:20] macdrevx commented on #78
Hi all, many of these issues have been resolved with GEOSwift 3.0.0 / geos 3.7.0. Give them a try and open new tickets if you run into any problems. I'm closing this one since it's gotten a bit long and hard to follow.

[2018-10-08 22:20] #78 closed

[2018-10-09 14:10] alexisbar opened #119 "Objective-C compatibility"
Hello,

I updated my pod today to 3.0.0 in my projects.
They are made in Objective-C. Since the update, all my methods using GEOSwift from ObjC are returning an error at compilation. For example the Geometry.create method or the WKT property of the Waypoint object.
It seems that if I add the @objc prefix in the create method this resolve the issue.

Do you have a better solution ? I can fix my err

[2018-10-09 14:34] macdrevx commented on #119
@alexisbar thanks for reporting this. Feel free to submit a PR to the develop branch. I think your suggestion sounds reasonable.

[2018-10-10 20:18] macdrevx commented on #119
@alexisbar 3.0.1 is now available on CocoaPods with your changes. Thanks for the fix!

[2018-10-10 20:18] #119 closed

[2018-10-12 17:17] joeuelk opened #122 "Build failure on Xcode 10 after cocoa pods update"
I had this working under Xcode 10 by changing the build settings but after recently updating cocoa pods (and homebrew although I'm not sure if this is related) I'm now getting a "geos/platform.h file not found" error.

I'm also seeing errors under GEOSwift about unresolved identifiers for GEOSGeom_createPoint_r, etc.

I verified this is a problem starting with a new Xcode 10 project.

When I switc

[2018-10-12 21:50] JirkaApps commented on #122
The `platform.h` file is now definitely not created during the install process via CocoaPods.
Using CocoaPods (1.5.3), GEOSwift (3.0.1), geos (3.7.0).

[2018-10-13 15:27] joeuelk opened #123 "Error trying to install earlier version of geos"
What's the best way to install an earlier version of GEOSwift and geos using cocoapods? The latest geos version 3.7 won't compile due to a missing `geos/platform.h` file.

I tried updating the Podfile to earlier versions I know work:

[code]

But I get the following errors.
[code]

Thanks

[2018-10-15 14:45] ashachakrapani opened #124 "mapShape returns nil for MultiPolygon"
With the latest GeoSwift pod, mapShape returns nil for a well-formatted MultiPolygon
The switch case in MapKit.swift throws an error when I po in debug mode - i.e. 'case let gc as GeometryCollection<Geometry>:' . The error I see is 'Could not cast value of type 'GEOSwift.MultiPolygon<GEOSwift.Polygon>' (0x7fd7b99baf78) to 'GEOSwift.GeometryCollection<GEOSwift.Geometry>' (0x7fd7bb0f6240)'. It does

[2018-10-16 17:38] macdrevx commented on #124
Thanks for the bug report @ashachakrapani. I'll take a look and get back to you ASAP.

[2018-10-16 17:40] macdrevx commented on #123
Looks like the SVN repo that the old version pulled from has been disabled. I'll reach out to them to see if they can reenable it. I'd also like to fix the install issue in geos 3.7.0. Can you provide more details?

[2018-10-16 17:42] macdrevx commented on #122
Thanks for the bug report. I'll take a look ASAP.

[2018-10-16 17:45] macdrevx commented on #122
@joeuelk @JirkaApps can you please pass the `--verbose` flag to whichever pod command you're running (`install`/`update`) and share the output here?

[2018-10-16 18:01] macdrevx commented on #123
Here's the relevant ticket on GEOS: https://trac.osgeo.org/geos/ticket/934

I've requested a login so that I can ask about it.

[2018-10-16 18:22] macdrevx commented on #123
To restore access to 3.5.0, we may need to republish it and point it to git.

Replacing already-published podspecs: https://stackoverflow.com/questions/25604601/how-to-do-pod-trunk-push-to-replace-an-existing-version-of-podspec/44317506#44317506

3.5.0 on git: https://git.osgeo.org/gitea/geos/geos/src/tag/3.5.0

[2018-10-19 15:50] macdrevx commented on #124
@ashachakrapani I've opened a pull request with a fix for this issue. Take a look if you have a chance and let us know what you think.

[2018-10-19 17:53] macdrevx commented on #123
@joeuelk I've republished 3.5.0 so that it points to the GEOS git repo and builds similarly to how we're building 3.7.0. It should be very similar to how the old 3.5.0 worked. Can you give it a try and let me know how it turns out?

[2018-10-19 17:56] ashachakrapani commented on #124
@macdrevx Swift generics being invariant explains why it worked when I casted it to a specific type of shape which is how we made a temporary fix in our fork too. Thanks for looking into it promptly.

[2018-10-19 18:01] macdrevx commented on #124
We'll get it reviewed and merged soon

[2018-10-19 18:01] macdrevx commented on #124
(and released)

[2018-10-19 23:57] joeuelk commented on #123
Looks like it installs now. Thank you!

Still having trouble getting my project to build but I'm not clear it's related to geos now.

[2018-10-20 14:18] macdrevx commented on #123
Glad to hear it. I'll close this issue, but please let us know if you find other geos/GEOSwift issues.

[2018-10-20 14:18] #123 closed

[2018-10-20 21:15] macdrevx commented on #124
@ashachakrapani I just released 3.0.2 with the fix for this issue. Thanks for reporting it!

[2018-10-20 21:15] #124 closed

[2018-10-22 08:38] royalcheese71 commented on #122
[code]

Same issue here

[2018-10-23 11:20] royalcheese71 commented on #122
[aaaaagh.zip](https://github.com/GEOSwift/GEOSwift/files/2505402/aaaaagh.zip)

Here is a Swift test ,  a blank project just implementing geos 3.5. or geos 3.7 , and still the same issue than my Objective C project.
No error running the pod install, the verbose doesn't seems to show a matter :

the Derived Data are deleted, I've deleted Pod directory and xcode workspace. Also reinstalled xcode and

[2018-10-23 12:28] royalcheese71 commented on #122
Confirmed : It is a Pod problem, with the older version of Pod in project it's building. It does'nt work since last friday with a pod update which changed GEOSWIFT and geos

[2018-10-23 13:42] macdrevx commented on #122
Hi @royalcheese71 thanks for the extra info. I can see that there are header files missing in the sample project you shared. Those files are supposed to be generated by the `prepare.sh` script that runs when geos gets installed. Using cocoapods 1.6.0.beta.2, I ran `pod install` on your project, and it didn't fix the problem. Then I deleted the `Pods` directory and ran `pod install` again and the h

[2018-10-23 23:27] macdrevx commented on #122
Another thing I forgot to mention: unless your project has specific requirements to the contrary, you shouldn't need to modify the default C++ standard library setting anymore in Xcode 10.

[2018-10-25 09:06] pwinde commented on #122
@macdrevx We had the same issue and I ran the prepare commands as you suggested.

`./tools/svn_repo_revision.sh` failed with the following output:
[code]

[2018-10-25 09:10] pwinde commented on #122
Seems `svn_repo_revision.sh` is looking for the `.git` directory at the wrong location.
Changing line 11 to
`elif test -d $top_srcdir"/../.git"; then` and running again produces the expected result(?):

[code]

[2018-10-25 13:31] macdrevx commented on #122
@pwinde Thanks for this. I've seen that too, though I've never seen it prevent `platform.h` (or any other file) from being generated. Is that what you were seeing?

I believe the same problem is happening with GEOS 3.7.0's `repo_revision.h`.

[2018-10-25 13:39] macdrevx commented on #122
Looks like we may need to be defining `top_srcdir` before invoking the script. That's how it's used in the GEOS makefile:

https://git.osgeo.org/gitea/geos/geos/src/tag/3.5.0/Makefile.am#L43

[2018-10-25 14:01] pwinde commented on #122
@macdrevx I did not test beyond the commands you listed so I did not get to a point where `platform.h` is generated.

[2018-10-25 14:08] macdrevx commented on #122
@pwinde `./configure` is the command that generates `platform.h`

[2018-10-26 14:57] macdrevx commented on #122
@joeuelk @JirkaApps @royalcheese71 Just wanted to check in with you all. I'd like to get to the bottom of this so that we can get this working for you (and anyone else who may be experiencing the same problems). Have you found any additional info that you can share?

[2018-10-29 14:19] macdrevx commented on #122
I'm not sure what `pod lib lint` is doing. I see the same error on my machine with that command. `pod spec lint`, on the other hand, works just fine and seems to have more relevance to what `pod install` does based on the configuration of the Xcode projects that they generate (test them both with ` --no-clean` and inspect the generated test projects).

[2018-10-29 15:08] nylemusgrave commented on #122
We have MS App center building out project with GEOSwift and it fails for all build attempts.

2018-10-24T16:20:15.1965310Z /Users/vsts/agent/2.140.2/work/1/s/LandDB_iOS_Mobile/Pods/geos/geos/include/geos/geom/Coordinate.h:19:10: fatal error: 'geos/platform.h' file not found

Local builds from xcode work fine for me, not sure what process differences are causing this to fail.

[2018-10-29 16:12] joeuelk commented on #122
FYI, in order to get the latest build to work I installed with cocopods and executed the following:

`git clone https://github.com/GEOSwift/geos.git
cd geos
git checkout 3.5.0
git submodule update --init --recursive
cd geos
sh autogen.sh
./configure
./tools/svn_repo_revision.sh`

And then ran the coco pods update again. I didn't have to make any other changes in Xcode.

[2018-10-29 17:37] macdrevx commented on #122
I wonder whether we may be running into a caching issue with the `prepare_command`: https://github.com/CocoaPods/CocoaPods/issues/7192. The caches on my machine are at `~/Library/Caches/CocoaPods/Pods/Release/geos`. Can someone check what's showing up there on a machine where this isn't working?

[2018-10-29 17:41] macdrevx commented on #122
Using cocoapods 1.6.0.beta.2, if I delete the `~/Library/Caches/CocoaPods/Pods/Release/geos` directory and my project's `Pods` directory and then run `pod install --verbose`, I can see the output of `prepare.sh`.

[2018-10-29 17:46] macdrevx commented on #122
I'm particularly interested whether the file `~/Library/Caches/CocoaPods/Pods/Release/geos/3.7.0-de7d1/geos/include/geos/platform.h` exists. (I'm not sure whether the 3.7.0-de7d1 directory will be named exactly that for everyone. It will certainly be named something else if you're on 3.5.0)

[2018-10-29 18:41] nylemusgrave commented on #122
For me its only happening on MS App Centers build process, of which gets completely rebuilt every-time, so I wouldn't think cache would be an issue here. Locally it works fine for me with all the same configuration..I haven't been able to find the difference. Locally I saw those files correct in my cache directory you stated above, I deleted the cache folders and everything still builds for me loc

[2018-10-30 14:14] macdrevx commented on #122
Here's a nice way to manage the CocoaPods cache.

See what CocoaPods has cached about geos:
[code]

Remove all caches for geos:
[code]

@nylemusgrave could you try running `pod cache list geos` before your `pod install` step in your App Center build just to make sure?

[2018-10-31 18:57] nylemusgrave commented on #122
@macdrevx This worked for me! Clearing the cache inside of the MS App Center process fix the issue for me.

[2018-10-31 19:03] KarenK1995 commented on #122
What is MS App Center, I am using xcode

[2018-10-31 19:49] KarenK1995 commented on #122
@macdrevx Thank you for your response but I fixed this other way. I removing everything from Podfile run pod install than after that put back everything and again pod install.

[2018-12-01 22:18] macdrevx opened #126 "Release new version using GEOS 3.7.1"
GEOS 3.7.1 is now available. Let's update GEOSwift to use it.

[2018-12-02 15:43] #126 closed

[2018-12-04 01:23] youngyangliang opened #128 "Do you have Object-C version?"
hello
       Do you have Object-C version?

[2018-12-04 12:46] macdrevx commented on #128
You can use some parts of this library from ObjC. You can also use GEOS directly via https://github.com/GEOSwift/geos

I’m not aware of a direct equivalent to GEOSwift written in ObjC though.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-05 06:18] youngyangliang commented on #128
I use cocoapod to import into the project in the way you gave me, but I will report errors similar to "file not find". How can I solve them? Thank you

[2018-12-05 13:30] macdrevx commented on #128
Can you please share your Podfile, Podfile.lock, and the exact error message text?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-06 03:21] youngyangliang commented on #128
Podfile
platform :ios, '10.0'
use_frameworks!
target 'EnvironmentApproval' do

pod 'GoogleMaps'
pod 'GooglePlaces'
pod 'geos'

end

Podfile.lock
PODS:
  - geos (3.7.0)
  - GoogleMaps (2.7.0):
    - GoogleMaps/Maps (= 2.7.0)
  - GoogleMaps/Base (2.7.0)
  - GoogleMaps/Maps (2.7.0):
    - GoogleMaps/Base
  - GooglePlaces (2.7.0):
    - GoogleMaps/Base (= 2.7.0)

DEPENDENCIES:
  - geos
  - GoogleMaps

[2018-12-06 12:48] siltrifork opened #129 "Create GEOSwiftCoreGraphics Add-On Library"
Hi,

I would like to draw my Polygons directly on an UIView. I don't have the need for an underlying map since the geojson file I'm parsing is basically represeting paths for drawing a polygon for every single country in the world. So the end result would be a world map drawn with polygons.

The reason why I don't want an underlying map:
1. The rendering time of the map is too slow
2. I don't have

[2018-12-06 14:13] macdrevx commented on #128
Do you have autotools installed?

Install autotools: `$ brew install autoconf automake libtool`

[2018-12-06 14:14] macdrevx commented on #128
If not, install autotools and then run `pod install` again.

[2018-12-06 14:44] macdrevx commented on #129
Check out Polygon's draw function in https://github.com/GEOSwift/GEOSwift/blob/master/GEOSwift/QuickLook.swift#L111 for an example. Given a MKMapRect, it renders the shape into a graphics context. While you probably won't want to use this function itself, you should be able to adapt the code to your use case.

[2018-12-11 12:43] siltrifork commented on #129
Thank you for your reply. However I'm not really sure how I go from having a Geometry object to having a Polygon object? Could you maybe show a code-example?

I can see that I can reach the "debugQuickLookObject" by writing geometry.debugQuickLookObject(), but the Polygon object I get from this object is a MKPolygon.

So some assistance would be greatly appreciated :)

[2018-12-11 19:23] vfn commented on #129
This question would be more appropriate on Stack Overflow, where you could get help from more people that just the ones watching the issues in this repo.

Analogous to the implementation of `debugQuickLookObject`, you can create your own function that outputs a data structure that you can use to draw the polygon.

[2018-12-12 07:50] siltrifork commented on #129
I already asked on Stack Overflow (https://stackoverflow.com/questions/53613266/swift-convert-mkpolygon-to-uibeizerpath-and-draw-path-on-uiview). The questions is with a bit different approach than asked here, but I thought it would be more likely to get an answer from you guys than the Stack Overflow community.

Anyway I will try and see if I can make magic happen.

[2018-12-13 22:30] ssokol opened #130 "Any way to make good polygons from dirty data?"
This is really an issue of dirty data rather than anything to do with GEOSwift, but...

I have an application that uses data provided by the FAA. It includes, among other things, various airspaces (sections of the sky) that are allocated for use by the military. My application draws those spaces on a moving map, helping pilots of recreational aircraft avoid unwanted interactions with mlitary aircr

[2019-01-02 13:56] macoapps commented on #122
@macdrevx I tried everything listed above, but no way. 'platform.h' is still missing in geos, and I can't build GEOSwift either. Too bad, because this is really the best lib ever for GeoJSON !
My conf is macOS 10.14.2 (18C54) and XCode 10.1 (10B61).

[2019-01-04 19:43] shanminxu commented on #122
This works for me:
brew install autoconf automake libtool
pod install

[2019-01-04 20:18] macoapps commented on #122
Man, you saved my life !

[2019-01-04 22:03] macdrevx commented on #122
Thanks @shanminxu, and glad this fixed the issue for you @macoapps. I’m going to close this thread now since it seems to be a little long and relate to multiple issues at this point.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-04 22:03] #122 closed

[2019-01-09 19:53] nylemusgrave commented on #122
This issue just started happening for me again out of the blue after working for a long time.

brew install autoconf automake libtool

pod cache list geos
pod cache clean geos --all

pod install

I run the commands above every build, was working but now I'm getting the error when archiving even tho there is no cache found to clear.

[2019-01-10 16:25] nylemusgrave opened #132 "fatal error: 'geos/platform.h' file not found"
@macdrevx I'm getting the platform.h file not found error again in my build server. I can't find anything that has changed on our side...did something perhaps change with the repo??

[code]

Our build server rebuilds everything from scratch each time, we run the commands below to ensure that any cache is cleared which had caused the issue before...but now the scripts just never seem to install pla

[2019-01-10 17:49] macdrevx commented on #132
Hi @nylemusgrave thanks for opening a new issue. I’d like to gather some more information to help us identify what’s going wrong. Can you please share your Podfile.lock and the output of running `pod install --verbose` on your build server? Also, which version of CocoaPods are you using?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-10 19:11] nylemusgrave commented on #132
@macdrevx

Podlock and Log of the verbose insall attached.

[podlock.txt](https://github.com/GEOSwift/GEOSwift/files/2746734/podlock.txt)
[podInstallVerbose.txt](https://github.com/GEOSwift/GEOSwift/files/2746739/podInstallVerbose.txt)

[2019-01-11 18:45] macdrevx commented on #132
Thanks for that extra info. It doesn't quite tell me everything I need to know to identify the problem, so can you try another diagnostic test and share the results? Run this on your build server after the `brew install` step and share the output here so we can look for errors:

[code]

[2019-01-11 19:00] nylemusgrave commented on #132
@macdrevx Ended up being an issue with brew, it was throwing an error on the brew install where it was having an issue updating the version.

Adding `brew update` prior to the install call fixed it.

[2019-01-12 00:21] #132 closed

[2019-01-12 00:22] macdrevx commented on #132
@nylemusgrave glad you we able to get it working again!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-31 05:53] joeuelk opened #134 "Geometry.fromGeoJSONDictionary Not Generating Valid MKShapesCollection?"
I've been displaying geojson files with an app without issue until I updated to GEOSwift (3.0.3) and geos (3.7.1). Now I'm consistently getting an "Invalid Region" crash.

I get the mapRect:
[code]
And then I zoom the map to enclose the overlay with this:
[code]

And then it crashes with this:
[code]

Rendering the overlay isn't shown but it doesn't get that far anyway since I zoom the map before

[2019-01-31 17:20] joeuelk commented on #134
I had to bump GEOSwift down to 2.2.0 so geos would drop to 3.5 (from 3.7.1) to fix it.

[code]

I'm guessing it's an issue with geos?

I wish I could troubleshoot this better and identify the specific problem. Hope this helps though.

[2019-01-31 20:37] macdrevx commented on #134
@joeuelk I'm taking a look at this now. I'll let you know what I find.

[2019-02-01 09:20] mmarkov-appolica commented on #39
Is there a working solution for the carthage?

[2019-02-03 04:40] ganisback opened #139 "How to split polygon with a line?"
Hi All, is there any way to split a polygon? very appreciated if have an example.

[2019-02-11 20:00] rdaly1490 opened #140 "Provide buffer width in meters to LineString?"
Is there currently a way to create a buffered LineString, which has a buffer width defined in meters instead of decimal degrees?

[2019-03-13 03:50] alexcurylo commented on #129
@siltrifork I have the exact same use case, want to render a complete world map directly from GeoJSON -- did you manage to find some easy way to do so?

[2019-03-18 09:48] sauvikated commented on #132
https://github.com/andreacremaschi/SpatialDBKit/issues/24#issuecomment-473840018

[2019-03-18 09:49] sauvikated commented on #61
Finally fixed following https://github.com/andreacremaschi/SpatialDBKit/issues/24#issuecomment-473840018

[2019-03-18 10:30] borut-t opened #141 "Release 3.1.0 compile issue"
Trying to compile project against version `3.1.0` generates compile time issue:
[code]

[2019-03-18 10:43] borut-t opened #142 "Multi Polygon issue"
This issue is related to the already opened [PR](https://github.com/GEOSwift/GEOSwift/pull/92).

The thing is that geosjon can return multiple polygons nested inside one `Polygon` object. Here is an example:
[code]

I've temporary fixed that in a way to check if `coordinates` array contains multiple subarrays, then I change type from `Polygon` to `MutliPolygon`
[code]

[2019-03-18 20:31] macdrevx commented on #141
Hi @borut-t, usually this happens when something goes wrong with `autotools` during `pod install`. The first thing I'd check is to make sure that `autoconf`, `automake`, and `libtool` are all installed.

[2019-03-18 21:13] borut-t commented on #141
`libtool` is installed, the other two are not. How do I install them and why do I need to do that? I've been using cocoapods since forever and never needed to install it.

[2019-03-19 15:30] macdrevx commented on #141
You can install all 3 with homebrew: `brew install autoconf automake libtool`. The reason you need them is specific to this library — not cocoapods. GEOSwift is a wrapper around the geos library, which is built with these tools during a custom setup script that hooks into `pod install`.

[2019-03-20 10:38] cado1982 commented on #141
I just stumbled across this problem. I failed to read the instructions to run `brew install autoconf automake libtool`. If you don't have those tools and try to install GEOSwift Cocoapods will cache the unbuilt geos pod and use it even after you try to `pod install`. You can verify this by running `pod install --verbose` and checking the output.

To solve that you can clear the cache and then reru

[2019-03-20 10:48] cado1982 opened #143 "prepare.sh can't find autoconf"
Cocoapods version 1.5.2
GEOSwift 3.0.3

I ran `brew install autoconf automake libtool` but when I try to `pod install --verbose` prepare.sh seems to indicate that it can't find those tools.

[code]

This is the output to show those tools are indeed installed

[code]

Any ideas why the script can't find the tools?

[2019-03-21 01:24] macdrevx commented on #141
Thanks @cado1982. I wouldn't be surprised if a slimmed down version of those instructions would work too:

* Run `pod cache clean 'geos' --all`
* Run `pod install --verbose` and check that prepare.sh is being run in the output

In other words, no need to remove/readd the pod from your podfile.

[2019-03-21 01:29] macdrevx commented on #143
I'm not sure why that'd be happening. How do you have your PATH configured? Also what do you get when you run `which autoconf`, etc. for each tool?

[2019-03-21 10:57] cado1982 commented on #143
[code]

It looks fine doesn't it? This is obviously some kind of environment issue at my end. I don't actually need this library now so feel free to close this. I'm here to help debug if you need though. Thanks.

[2019-03-26 11:15] borut-t commented on #141
I was able to update it successfully after following @cado1982 steps.

[2019-03-26 11:15] #141 closed

[2019-03-31 17:03] #143 closed

[2019-03-31 17:04] macdrevx commented on #128
Closing this due to inactivity. Feel free to reopen if you’re still working on it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-31 17:04] #128 closed

[2019-03-31 17:09] macdrevx commented on #130
Hi @ssokol. This problem seems specific to your use case, so I think scrubbing the data before you feed it into GEOSwift makes sense to me. I’m going to close this issue for now.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-31 17:09] #130 closed

[2019-03-31 17:14] macdrevx commented on #11
@raugturi and I ran into this issue when refactoring a while ago (and reintroduced the bug). The reason it doesn’t work is that swift generics are invariant.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-31 17:14] #11 closed

[2019-03-31 17:16] macdrevx commented on #11
See diff in #125 for more info.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-31 17:20] macdrevx commented on #142
Thanks @borut-t. I’m going to close this as a duplicate of #90.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-31 17:20] #142 closed

[2019-03-31 17:22] macdrevx commented on #129
I’ll mark this as a feature request. Perhaps we can add something to make this easier in the future.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-31 17:26] macdrevx commented on #71
Closing this due to inactivity.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-31 17:26] #71 closed

[2019-03-31 17:26] #62 closed

[2019-03-31 17:30] macdrevx commented on #52
Closing this due to inactivity.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-31 17:30] #52 closed

[2019-03-31 17:31] macdrevx commented on #47
Closing this due to inactivity

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-31 17:31] #47 closed

[2019-03-31 17:32] macdrevx commented on #42
Support was added in #131

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-31 17:33] #42 closed

[2019-03-31 17:39] macdrevx commented on #33
Closing this due to inactivity.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-31 17:39] #33 closed

[2019-03-31 17:40] macdrevx commented on #26
Closing this due to inactivity.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-31 17:40] #26 closed

[2019-03-31 22:03] macdrevx commented on #90
Check out page 9 of the [GeoJSON Spec](https://tools.ietf.org/html/rfc7946).

I think I understand why they'd say this in that semantically, the flattened collection is the same as the nested collection. That said, there's clearly a community need for us to support nesting, so I'm in favor of adding that capability.

[2019-04-05 06:51] siltrifork commented on #129
@alexcurylo - No unfortunately not. I still use MapKit, but I ended up with a solution where I render every tile on the map with an overlay so the entire map becomes blank. Then I draw the polygons with mapkit and kind of game the result I wanted.

So I'm happy that this has become a feature request, so we can work smarter in the future 👍

[2019-04-05 09:45] madhavajay commented on #39
https://github.com/GEOSwift/GEOSwift/pull/145

[2019-04-05 12:26] alexcurylo commented on #129
It actually turned out not too hard to parse GeoJSON into reasonable looking UIBezierPaths, at least with my particular file; take a look at [WorldMap.swift](https://github.com/alexcurylo/mtp/blob/develop/MTP/application/models/WorldMap.swift) here if you like, I imagine it'd be more performant than MapKit rendering...

[2019-04-05 20:50] trevor-thoele opened #146 "Creating Geometry Of Incorrect Type Leaks"
Creating a geometry from WKT/WKB/Data causes a leak as the geometry that is created is never deleted when early returning from the initializer.

`Polygon(WKT: "POINT(30 10)")` is enough to leak.

[2019-04-05 20:52] trevor-thoele commented on #146
By the way, I

[2019-04-05 21:14] trevor-thoele commented on #146
Opened PR for this.
https://github.com/GEOSwift/GEOSwift/pull/147

[2019-04-06 20:49] macdrevx commented on #146
Merged into develop. Thanks @trevor-thoele

[2019-04-06 20:49] #146 closed

[2019-04-09 09:31] madhavajay commented on #39
https://github.com/GEOSwift/GEOSwift/pull/149

[2019-04-10 09:01] alexahlen opened #150 "Issue converting buffered linestring into mapshape (bug?)"
Im getting an error when i convert a buffered linestring into a mapshape. My code works perfectly up until that point, and the WKT seems formatted the correct way. I assume its an issue on my end, but if someone could have a quick flick through it might be a bug?

here is a longer explanation:
https://stackoverflow.com/questions/55600134/why-is-my-linestring-not-converting-to-mapshape-in-geoswift-

[2019-04-11 03:28] madhavajay opened #151 "Non WGS84 spatial reference system"
Im trying to recreate some code I wrote for shapely in python which also uses GEOS.
All I want to do is to construct some shapes like trapezoids and squares and find their intersections and area etc.

It seems that when I try to do this with GEOSwift it only allows the points to be in Latitude / Longitude?

The way I managed to draw a trapezoid and avoid errors was to reduce the scale of my number

[2019-04-22 01:12] macdrevx commented on #151
Hi @madhavajay. Can you please provide steps to reproduce the problem including expected & actual results? I ran the code snippet you shared and didn't see any crashes, so I'm guessing the problem is something else.

In its current state, GEOSwift is kind of a mashup of GeoJSON and GEOS. The GeoJSON spec is specifically about representing geographic shapes. GEOS is more general, but the two have m

[2019-04-23 14:15] macdrevx commented on #39
#153

[2019-04-24 03:19] madhavajay commented on #39
@macdrevx and I have solved the issue. For anyone who wants to know what we did. I created an xcode project for the https://github.com/GEOSwift/geos dependency which allows a nested Carthage dependency in GEOSwift.

There was a hacky way to then get Carthage to play ball, by having a pre-script which copied the geos.framework into the expected filename for the existing Cocoapods Workspace setup.
H

[2019-04-24 03:30] madhavajay commented on #151
@macdrevx regarding the future of the library, yes i think it's a hugely useful library for doing complex geometric calculations in a few lines, which is why i found shapely in python and then this library for swift in the first place.

I still get this error when i run that code in a playground:
https://imgur.com/a/GFrtNRf

As you can see if i divide all the values by 100 it works fine:
https://i

[2019-04-25 02:31] macdrevx commented on #151
I was only able to reproduce this error in the playground and not if I ran the same code in a sample project. I noticed the following message in the log:

`libc++abi.dylib: terminating with uncaught exception of type NSException`

That gave me the idea to try to catch that `NSException`. First, I tried using https://github.com/eggheadgames/SwiftTryCatch, but for some reason I was getting the same

[2019-04-25 05:06] madhavajay commented on #151
Awesome to see how to properly debug an issue like this! I think even just having the constructor allow for lat, lon vs x, y or some other flag would be sufficient in letting people opt out of the MapKit restrictions.

If the Map based constructors validated the coords they could reject creation based on invalid lat lon values. This would also help catch issues. For now ill keep my coords at 100th

[2019-04-26 01:12] macdrevx commented on #151
@madhavajay I'm going to close this issue for now, but we will keep these points in mind as we work on the next major update.

[2019-04-26 01:12] #151 closed

[2019-04-26 05:31] madhavajay commented on #151
Ok no worries! 👍

[2019-04-30 01:05] macdrevx commented on #39
This change will be released shortly…

[2019-04-30 01:05] #39 closed

[2019-05-10 03:04] zhuyuping opened #157 "In GEOSwift,have a Class like "MinimumBoundingCircle" of JTS?"

[2019-05-10 03:05] zhuyuping commented on #157
how can I count a MinimumBoundingCircle of a Polygon

[2019-05-10 18:18] macdrevx commented on #157
@zhuyuping We don't have this yet. We'd need it to be exposed to GEOS's C API first. Here's a ticket that's tracking that: https://trac.osgeo.org/geos/ticket/735

[2019-05-11 06:16] dandyweng commented on #132
`pod "GEOSwift", "= 3.0.1"` works! Guess I'll have to settle with this old version for now.

[2019-05-13 00:43] zhuyuping commented on #157
thanks~~I am waiting for update

[2019-05-15 02:21] zhuyuping opened #158 "How can I get the Point List or Polygon Object by a LineString.buffer() in GEOSwift?"
In MKMapView, I want to detected the Tap Action in whitch side(line) of a Polygon. MKMapView Instance may have only One Polygon. So here's my idea is that compute every side of the polygon to a little polygon by buffer method of LineString Instance in GEOSwift Framework.It means that every two points convert to a rentangle Ploygon.When user touched(Tap),checked the touch point if one little polyon

[2019-05-20 15:20] macdrevx commented on #157
@zhuyuping, I noticed you opened a few pull requests. We’re you planning to also contribute the code changes to add this feature? Typically, we wait to open PRs until those code changes are ready.

[2019-05-20 16:15] macdrevx commented on #158
You could do something like this:

        let line = LineString(points: [Coordinate(x: 1, y: 0), Coordinate(x: 1, y: 10)])!
        let bufferedLine = line.buffer(width: 1)
        let polygon = bufferedLine as! Polygon
        let points = polygon.exteriorRing.points

Note that the resulting polygon has rounded end caps. GEOS supports different end cap styles, but that functionality isn't expose

[2019-05-21 00:47] zhuyuping commented on #157
I am sorry about an mistake that i make.In fact,I went planning to add some feature in GEOSwift Project.I want to push the new feature to my repo, but it is a mistake to push this repo.you can not ignore this mistake.I have a new direction to make a MIniCircleBounding class after your answer of issue 11.Thank you very much.
I want to contribute to this project in the future, but now I realize that

[2019-05-21 14:15] macdrevx commented on #157
No worries. You’re welcome to contribute. Just trying to help. We’ll keep this feature request open, and hopefully it will get added to the geos C API soon so that we can adopt it in GEOSwift.

[2019-05-27 16:33] macdrevx commented on #158
Since I haven't heard back, I'm going to assume this answered your question. Feel free to reopen this issue if that's not the case.

[2019-05-27 16:33] #158 closed

[2019-06-11 16:43] ParankushBhardwaj opened #162 "Converting from Geometry to GeoJSON"
There's no default way to convert a Geometry object back to a GeoJSON file in this wrapper. I'm attempting to make one myself and was wondering if there's a default way to get the array of coordinates from a particular shape?

[2019-06-11 17:26] macdrevx commented on #162
@ParankushBhardwaj I'm actually working on a major update to this library that add this functionality via Codable. If you'd like to give it a try, I'd be happy to hear your feedback. Check out the branch: https://github.com/GEOSwift/GEOSwift/tree/feature/version-5-rewrite

[2019-07-08 19:14] funkenstrahlen commented on #162
@macdrevx iOS 13 contains Codable support for GEOJson to some extend. You might want to take a look at this.

Currently it does only support decoding though: https://developer.apple.com/documentation/mapkit/mkgeojsondecoder#

[2019-07-09 01:58] macdrevx commented on #162
Thanks for the tip!

[2019-07-11 11:02] piyushvaish commented on #139
Any updates on the same?

[2019-07-11 20:18] funkenstrahlen opened #166 "Add SPM support for iOS and tvOS"
I tried using `GEOSwift` via Swift Package Manager. I therefore installed `geos` via homebrew and confirmed `pkg-config --validate geos_c` resolves successfully by copying `geos_c.pc` to the correct location.

The app builds fine in Xcode but when I try to launch it I get an error:

[code]

I could not find any resources on how to deal with this kind of error. Any ideas?

[2019-07-11 22:19] macdrevx commented on #166
Can you please share which version of GEOSwift you’re using and which platform your building for?

[2019-07-12 07:28] funkenstrahlen commented on #166
@macdrevx Of course!

[2019-07-12 11:23] macdrevx commented on #166
I think the problem is that our SPM setup only works for Mac and Linux. We’ll need to update it to work for with iOS/tvOS and Xcode 11.

[2019-07-12 12:48] funkenstrahlen commented on #166
I understand. Anything I can do to help?

[2019-07-12 13:29] macdrevx commented on #166
Since there are geos packages available through homebrew and apt, we've just been relying on those for mac/linux. For iOS (via CocoaPods & Carthage) we build geos ourselves (see https://github.com/GEOSwift/geos). So I think step 1 is to update https://github.com/GEOSwift/geos to support SPM. You're welcome to give that a try and open a PR. Please keep in mind that any changes we make need to prese

[2019-07-22 02:05] macdrevx commented on #162
Version 5 is up for review: #167

Please let me know if you have any feedback.

[2019-07-22 02:06] macdrevx commented on #90
Nesting support added in proposed version 5 which is now up for review: #167

Please let me know if you have any feedback.

[2019-07-22 02:07] macdrevx commented on #41
Proposed version 5 supports Codable and is now up for review: #167

This may address some of your concerns about more helpful error messages. Please let me know if you have any feedback.

[2019-07-22 02:07] macdrevx commented on #36
Proposed version 5 add support for macOS and is now up for review: #167

Please let me know if you have any feedback.

[2019-07-22 02:08] macdrevx commented on #76
Proposed version 5 supports Codable and is now up for review: #167

This may address some of your concerns about more helpful error messages. Please let me know if you have any feedback.

[2019-08-02 19:35] macdrevx commented on #36
macOS support now available in version 5.0.0

[2019-08-02 19:35] #36 closed

[2019-08-02 19:35] macdrevx commented on #41
Version 5 now available.

[2019-08-02 19:35] #41 closed

[2019-08-02 19:36] macdrevx commented on #76
Version 5 now available.

[2019-08-02 19:36] #76 closed

[2019-08-02 19:36] macdrevx commented on #90
Version 5 now available.

[2019-08-02 19:36] #90 closed

[2019-08-02 19:37] macdrevx commented on #162
Version 5 is now available.

[2019-08-02 19:37] #162 closed

[2019-08-04 03:51] Tybion opened #169 "How to test if geometry is a Point?"
Thank you for all the work you have done upgrading the package, and the conversion guidelines at https://github.com/GEOSwift/GEOSwift/blob/master/VERSION_5.md are good.

But how do I convert the following code? ..
(Swift 5, Xcode 10.2)

[code]

If I change the first line to ..
[code]

.. I get the compile error
[code]

[2019-08-04 17:21] macdrevx commented on #169
Geometry is now an enum, so you should be able to use `switch` or `if case let`:

[code]

Let me know if it works for you.

[2019-08-05 03:24] Tybion commented on #169
Thanks, Andrew.

The compiler is happy with that.  I just need to get the rest of my code compiled before I can test that your suggestion above works.

Can you please also tell me how to change this ..
[code]
In the Summary of API Changes, it mentions

So I figure something like this ..
[code]
.. but haven't been able to find doco or examples on Decodable

[2019-08-05 13:00] macdrevx commented on #169
Decodable works with [JSONDecoder](https://developer.apple.com/documentation/foundation/jsondecoder). If you know that your GeoJSON is a feature collection, you can say:

[code]

The GeoJSON spec also [permits](https://tools.ietf.org/html/rfc7946#section-3) other top-level types (Feature, Geometry), so if you're not sure which top-level type you'll receive in your data, you should change the third

[2019-08-07 08:37] zhuyuping opened #170 "How can I get a collection of points more conveniently?"
In most cases, we just need to use the GEOVSwift framework to calculate the relationship of geometry.
For example, I have a collection of several points. I want to calculate the point set corresponding to the buffer() value. I call the buffer method to calculate a Geometry object. I need to get all the points of this object. It seems that only WKT is a way. Is there any other way to get the [Coord

[2019-08-07 11:57] macdrevx commented on #170
Hi @zhuyuping. Which version of GEOSwift are you using?

[2019-08-07 12:01] zhuyuping commented on #170
my Project is using Swift 4.2 , the version of GEOSwift is 4.1.0

[2019-08-07 14:17] macdrevx commented on #170
I don't know that there's a "convenient" way to do this in 4.1.0. What should work is to test which [subclass of Geometry](https://github.com/GEOSwift/GEOSwift/blob/4.1.0/GEOSwift/Geometries.swift) you receive and then add logic to extract the coordinates.

Here's a start to how it might look:

[code]

[2019-08-08 02:47] zhuyuping commented on #170
Thank you for your answer

`public extension Geometry {
    func getCoordinates() -> [Coordinate] {
        switch self {
        case is Waypoint:
            let point = self as! Waypoint
            let coordinate = point.coordinate
            return [coordinate]
        case is LineString:
            let line = self as! LineString
            let coordinates = Array(line.points)

[2019-08-08 05:30] #170 closed

[2019-08-09 07:10] Tybion commented on #169
Thank you so much for your help, Andrew.

I have now got the app to the state where it is all compilable and runnable with Swift 5 and Xcode 10.3.  A fairly major job, with pod updates, code changes, etc.

I have a problem when reading a feature collection from a geoJSON file.  This is the code (from your suggestion above) ..

[code]
I have pasted values read from the geoJSON file (from within the

[2019-08-09 12:12] macdrevx commented on #169
Can you share an example GeoJSON file that reproduces the problem?

[2019-08-09 17:36] Tybion commented on #169
Rename back to .geojson ..
[TAS_constr_materials.txt](https://github.com/GEOSwift/GEOSwift/files/3487432/TAS_constr_materials.txt)

[2019-08-09 17:38] Tybion commented on #169
I was wrong about all numbers being nil.  Numbers are being read OK.

[2019-08-09 18:03] macdrevx commented on #169
Glad to hear it! Let me know if you run into anything else. I'm going to close this issue. Let's open separate tickets for future issues. That will make it easier for other people to find questions and answers that might help them.

[2019-08-09 21:56] Tybion commented on #169
No, there is just **one problem** not two.

The code for reading the geoJSON is **not producing a Dictionary** for the 'properties  ie. [String: Any]

It is producing [String : GEOSwift.JSON]

How do I get the properties into a Dictionary?

[2019-08-09 23:30] macdrevx commented on #169
Oops, sorry for misunderstanding.

In v4, properties had type `[String: Any]`. That worked b/c the implementation used `JSONSerialization`. This changed to `[String: JSON]` in v5 so that we could support `Codable`.

You should be able to update your code to extract the values you require from `JSON`. Similar to `Geometry` that we discussed earlier, [JSON is an enum](https://github.com/GEOSwift/GEO

[2019-08-10 00:17] Tybion commented on #169
I have found that this is how I am converting 'properties' to a NSDictionary ..
[code]
.. but I think the result might have changed with Swift 5, and it is not producing the right format for

[code]

.. which is failing with this error ..

[code]
Please leave this ticket closed.  I will investigate further and work out if this is a more general problem that should be on Stack Overflow.  Or if it i

[2019-08-10 00:21] Tybion commented on #169
Oops, crossed posts, just read your previous comment.  Yes, any help will be appreciated.

[2019-08-10 00:27] Tybion commented on #169
I think this was probably what I was previously feeding to NSKeyedArchiver.archivedData ..
[code]
.. and this is production so I can't change the format of the Data object being stored in the SQLite blob field to something else.

[2019-08-10 01:30] macdrevx commented on #169
So one thing you could do is convert the `[String: JSON]` to `[String: Any]`. Can you try this code? If it works, let's consider adding it to the library as a convenience:

[code]

to use it, you'll change

[code]

to

[code]

[2019-08-10 02:32] Tybion commented on #169
Brilliant!  Thank you for being so responsive.
All looks good again.  Will also do some more testing with different geometry types.

Note there is a typo above - this is correct - says 'untyped' ..
[code]

[2019-08-10 02:45] macdrevx commented on #169
Glad to hear it! I’ll look into adding this to the library in the next update.

[2019-08-13 01:15] #169 closed

[2019-08-13 09:27] zhuyuping opened #172 "How can I use isSimple() method?"
- question 1:

I am using version 4.1.0, Swift 4.2

I hope I can use this method： isSimple. to judge a polygon

As I understand it, I added a method in extension Geometry:

[code]

but alway return true，Can you give me some advice?

In addition, The problem may be：
[code]

 - question 2:

I hope to contribute to this project. Is there any step?

[2019-08-13 09:39] zhuyuping commented on #172
isSimple for test
[code]

[2019-08-13 14:00] macdrevx commented on #172
Here are some docs on isSimple from JTS (the library geos is based on): https://locationtech.github.io/jts/javadoc/org/locationtech/jts/operation/IsSimpleOp.html

To add this to the library, take a look at [GeometryConvertible+GEOS.swift](https://github.com/GEOSwift/GEOSwift/blob/master/GEOSwift/GEOS/GeometryConvertible%2BGEOS.swift).

There are examples of binary predicates that you could use as

[2019-08-19 02:11] macdrevx commented on #169
@Tybion version 5.1 is now available and includes `Feature.untypedProperties` and `JSON.untypedValue`. Thanks for your help in identifying the need for these features!

[2019-08-20 07:51] zhuyuping commented on #172
thanks you

[2019-08-20 08:22] zhuyuping opened #175 "About MultiLineString Coordinates"
`let geo = offsetLine?.intersection(polygon)
let mutiLineString = geo as? MultiLineString
`

I want to be able to get [LineSting] or [[Coordinate]] of  mutiLineString
But now I seem to only get WKT or WKB

The way I am thinking of now is to parse WKT strings to generate objects similar to [LineSting] or [[Coordinate]]

Do I have a simpler and more efficient way to achieve my needs?

[2019-08-20 15:37] macdrevx commented on #175
Are you using version 4 or 5?

[2019-08-20 15:38] macdrevx commented on #172
Also, I just noticed that your original post says you’re using version 4. We don’t plan to release any more v4 updates, so this new feature would be added to v5.

[2019-08-20 15:40] macdrevx commented on #175
This seems like a similar problem to #170.

[2019-08-20 15:46] macdrevx commented on #175
So once you have a MultiLineString, you can access its geometries property which is a list of LineStrings. Then for each line string you can extract its coordinates. `map` should be useful.

[2019-08-21 06:00] zhuyuping commented on #175
version 4

YES, This seems like a similar problem to #127

But I don't know what you mean.
I understand that you mean this.

`
open class MultiLineString<T: LineString> : GeometryCollection<T> {
   var linestrings:[]     // a property to stored LineString List
}
`

[2019-08-21 06:08] zhuyuping opened #176 "using intersection method throw exception"
version 4.1.0

[code]

exception is throw from

[code]

terminal message:
1. p getErrorMessage():
found non-noded intersection between LINESTRING (191.399 480, 187.5 257) and LINESTRING (150 240, 190 400)
2. p segInt->getInteriorIntersection():
(const geos::geom::Coordinate) $1 = (x = 190, y = 400, z = NaN)

[2019-08-21 12:52] macdrevx commented on #175
You could write:

`multiLineString.geometries.map { $0 }`

to get `[LineString]`

You could append `.map { $0.coordinates }`

to get `[[Coordinate]]`

[2019-08-21 23:57] macdrevx commented on #176
I can't reproduce this error using GEOSwift 4.1.0. Can you please attach a sample project that reproduces the issue?

[2019-08-22 00:05] macdrevx commented on #176
Nevermind, I set an exception breakpoint and was able to see it happen. Looks like geos uses C++ exceptions internally. If you turn off the exception breakpoint, you'll see that `l?.intersection(p!)` actually completes successfully.

[2019-08-22 00:06] #176 closed

[2019-08-22 00:11] macdrevx commented on #175
I'd also love for you to try out version 5 sometime. I think you'd find many of these types of things a bit easier in that version.

[2019-08-22 00:33] zhuyuping commented on #175
thanks again
Because of the changes in the APIs of version 5 and version 4, I will switch to version 5 later.

[2019-08-22 00:35] zhuyuping commented on #176
C++ exception, does it affect my normal use? I am worried that this exception will crash the normal APP.

[2019-08-22 01:36] macdrevx commented on #176
Nope, it won’t impact the app. GEOSwift uses the geos C API which catches all exceptions from the C++ layer.

[2019-08-23 13:00] #175 closed

[2019-08-23 13:04] macdrevx commented on #38
@biomiker @robbroadwell closing this issue since it's been a couple years. If it's still something you'd like to solve, could you please re-open? I'd also be interested to hear whether it's still an issue in GEOSwift 5. Chances are the behavior you're seeing is from geos since GEOSwift (especially pre-v5) is just a thin wrapper around that library.

[2019-08-23 13:04] #38 closed

[2019-08-23 13:20] macdrevx commented on #139
I haven't used it personally, but a quick web search seems to suggest that the [geos polygonize functionality](https://git.osgeo.org/gitea/geos/geos/src/tag/3.7.1/capi/geos_c.h.in#L609) might be able to solve this for you. Seems like the workflow for your specific case (polygon + line) might be something like:

1. get boundary of polygon
2. union the boundary and your line
3. polygonize the result

[2019-08-23 13:25] macdrevx commented on #140
Prior to v5, we assumed that the units of our coordinate system were in degrees lat/lon, but that assumption has been removed in v5 (unless you're also using the GEOSwift+MapKit add-on).

Version 5 has `func buffer(by width: Double) throws -> Geometry`, so if the rest of your geometry is represented in meters, then you can pass meters to buffer. In the end, it's just doing 2D geometry, so it's up

[2019-08-23 13:25] #140 closed

[2019-08-23 13:31] macdrevx commented on #150
Hi @alexahlen, can you please share the input data that results in the error? Also, there's a new version of GEOSwift out now (v5 - migration guide [here](https://github.com/GEOSwift/GEOSwift/blob/master/VERSION_5.md)). I'd be interested whether this issue still happens on that version.

[2019-08-31 15:12] aahsanali commented on #162
@ParankushBhardwaj , I am also using GeoSwift in one of my projects can you please guide how to get points back from geometry?
Thanks

[2019-08-31 15:35] aahsanali opened #177 "GEOSwift with Google Maps iOS SDK (Draw a polygon)"
I am using GEOSwift library and I need help in:

1 - How can I draw polygon geometry data on Google Maps? I want to draw following geometry (polygon) on google map as an overlay:

`let geometry = try! Geometry(wkt: "POLYGON((35 10, 45 45.5, 15 40, 10 20, 35 10))")`
2 - How can I get Coordinates (lat, long) from the Geometry (geometry) back in form of string or CLLocationCoordiantes

I also posted

[2019-08-31 21:54] aahsanali commented on #170
@macdrevx, @zhuyuping  How can we achieve same functionality in v5.0

[2019-08-31 23:28] macdrevx commented on #170
Hi @aahsanali, I'll answer this in #177

[2019-08-31 23:28] macdrevx commented on #162
Hi @aahsanali, I'll answer this in #177

[2019-08-31 23:50] aahsanali commented on #162
@macdrevx , thanks :)

[2019-09-01 00:00] macdrevx commented on #177
I'll assume you're using Google Maps SDK for iOS version 3.3.0 and GEOSwift version 5.1.0.

As an aside, creating a GEOSwiftGoogleMaps add-on library would be a great addition to the GEOSwift family.

Now to your question. You have a polygon (without holes) represented as WKT and you want to show it on a Google Map. Specifically, you probably want to end up with a [GMSPolygon](https://developers.g

[2019-09-01 00:39] aahsanali commented on #177
@macdrevx Thanks a lot for your help. I am able to solve this problem now. 🥇

[2019-09-01 00:58] #177 closed

[2019-09-01 15:35] macdrevx opened #178 "Ensure compatibility with Xcode 11 and new OS versions"

[2019-09-01 15:41] macdrevx opened #179 "CI improvements"
* Switch to using [test discovery](https://oleb.net/2020/swift-test-discovery/) on Linux
* Run tests on Ubuntu
* Run tests using SPM on Apple platforms (in addition to running them through the Xcode project)

[2019-09-02 15:59] macdrevx opened #180 "Update Feature.init to take GeometryConvertible instead of Geometry"
This will make it more convenient to use. See GeometryCollection for an example.

[2019-09-02 16:13] macdrevx opened #181 "Create GEOSwiftGoogleMaps Add-On Library"
Would be similar to GEOSwiftMapKit but for Google Maps SDK

[2019-09-02 16:14] macdrevx commented on #129
I'd love to see this functionality provided in an add-on library in the GEOSwift family. Maybe something like GEOSwiftCoreGraphics?

[2019-09-03 13:34] aahsanali commented on #177
@macdrevx can you guide me to the equivalent functions for:

[code]
in GEOSwift 5.

Thanks

[2019-09-03 14:32] macdrevx commented on #177
Sure. The first step is to get a representation of the JSON as `Data`. If you're starting with a file `URL`, you can say `Data(contentsOf: URL)`. If you have `dictionary: [String: AnyObject]` you'd need to use `NSJSONSerialization` or similar to convert it to `Data`.

Once you have `data: Data`, you can decode using:

[code]

[2019-09-27 00:24] macdrevx commented on #157
Looks like minimum bounding circle is going to ship with GEOS 3.8.0 which is just entering beta!

[2019-10-07 09:54] JacoGasp opened #182 "Carthage build failed - Illegal instruction: 4 swiftlint"
As title, building GEOSwift with Carthage and Xcode 11 fails with error

[code]

[2019-10-07 10:39] JacoGasp commented on #182
It's a issue related to the version 0.35.0 of SwiftLint
https://github.com/realm/SwiftLint/issues/2793

I solved temporarily uninstall SwiftLint

[2019-10-07 10:39] #182 closed

[2019-10-13 00:41] macdrevx commented on #157
geos 3.8.0 has been released. To start using it in GEOSwift, we need to address to non-trivial issues:

https://github.com/GEOSwift/geos/issues/10
https://github.com/GEOSwift/geos/issues/11

The reason we need both of these is so that we don't break SPM support which currently depends on externally-maintained packages from apt & brew. Since we'll be requiring geos 3.8 or later and since we also wa

[2019-10-13 00:44] macdrevx commented on #166
Whenever we do this, I'd like to see us stop depending on the homebrew- and apt-distributed geos packages and instead always depend on our own SPM-based geos package. This should provide a higher level of consistency between CocoaPods, Carthage, and SPM and will also be necessary for new features we want to add that will require geos 3.8.0 like #157

[2019-10-13 00:45] macdrevx commented on #178
Verified.

[2019-10-13 00:45] #178 closed

[2019-10-13 00:54] macdrevx opened #183 "Use ~> operator when specifying geos dependency in podspec"
This will allow propagation of the fix for https://github.com/GEOSwift/geos/issues/9

[2019-10-14 13:58] sk-dataocean-online opened #185 "Buffering point with specific SRID"
I am trying to create buffer of a point but getting distorted ellipse instead of a circle:
![image](https://user-images.githubusercontent.com/40666974/66756761-5e426400-eea3-11e9-8ca0-e441ba7422b5.png)
It seems that I should set another SRID (seems like 3857 instead of 4326). Is it possible? I can't find any information on SRID in Geoswift.

[2019-10-14 16:51] macdrevx commented on #185
There's no built-in support for SRID in GEOSwift. Even geos (the underlying library) [apparently](https://lists.osgeo.org/pipermail/geos-devel/2019-September/009258.html) doesn't do anything with SRID and at best just preserves the value from input to output. The FAQ on JTS (the Java library of which geos is a port) [addresses your question](http://www.tsusiatsoftware.net/jts/jtsfaq/jtsfaq.html#F)

[2019-10-15 08:13] sk-dataocean-online commented on #185
I have only manual solution right now. It works only for point buffers and only for pseudo mercator proj 3857 (Google maps projection).

For each Y coordinate of buffered point (X0, Y0): new_Y = Y0 + (Y-Y0)*cos(Y*M_PI/180), where all coordinates are in degrees.

I didn't figure out how to apply scale factor for arbitrary buffers.

[2019-10-15 11:44] macdrevx commented on #185
Thanks for sharing your solution. I’m going to close this issue since we don’t plan to support this in GEOSwift unless it’s someday added to geos.

[2019-10-15 11:44] #185 closed

[2019-10-15 11:46] macdrevx commented on #150
Hi @alexahlen, since we haven’t heard back from you, I’m going to close this issue. If you are still having the same error with v5 and can provide more info, feel free to reopen it

[2019-10-15 11:46] #150 closed

[2019-10-17 01:29] macdrevx commented on #172
Added in version 5.2.0

[2019-10-17 01:29] #172 closed

[2019-10-17 01:29] macdrevx commented on #180
Added in version 5.2.0

[2019-10-17 01:29] #180 closed

[2019-10-17 01:29] macdrevx commented on #183
Added in version 5.2.0

[2019-10-17 01:29] #183 closed

[2019-11-10 23:47] macdrevx commented on #166
Available in v6

[2019-11-10 23:47] #166 closed

[2019-11-13 18:51] rausnitz opened #188 "Build errors in Xcode"
<img width="371" alt="Screen Shot 2019-11-13 at 10 45 05 AM" src="https://user-images.githubusercontent.com/6132143/68793917-c4391d00-0602-11ea-8ff9-4d1295c5823b.png">

Here's my Package.resolved:
[code]

I'm getting the above errors only in Xcode. When I build from the command line, building succeeds.

It's possible that this issue is particular to Vapor. I'm cleaning, updating, building, and gen

[2019-11-14 00:07] macdrevx commented on #188
Hi @rausnitz, can you attach a sample project the reproduces this behavior?

[2019-12-06 05:13] SirWellington opened #189 "Carthage Compilation issue"
Hi, I am having issues comping this library in Carthage.
Below is the line in my `Cartfile`

[code]

Here is the error I am seeing.

[code]
/Users/wellington/Documents/Code/GoHope/gohope-ios/GoHope/Carthage/Checkouts/GEOSwiftMapKit/GEOSwiftMapKit/GEOSwift+MapKit.swift:80:18: error: use of undeclared type 'MKMultiPolyline'
public extension MKMultiPolyline {
                 ^~~~~~~~~~~~~~~
/Users/w

[2019-12-06 05:28] SirWellington commented on #189
Turns out the version of the library I was using only works for XCode 11+
I am still on XCode 10.3. Reverting tot the following versions worked for me:

[code]

[2019-12-06 15:51] macdrevx commented on #189
Thanks for reporting this, and sorry for the incompatibility. Looks like I need to test more thoroughly next time. I thought I’d limited that new code to newer Xcode versions.

[2019-12-06 15:52] #189 closed

[2020-01-24 00:14] ssokol opened #190 "Not Thread Safe?"
I have a rather complicated app that makes use of GEOSwift (currently 4.1.0 with geos 4.0.1) in several classes. I'm testing my app with Thread Sanitizer enabled and it seems that all is not thread safe at the geos layer. The sanitizer is finding concurrent access to the reference count in the GeometryFactory class.

The error below shows two threads in entirely different portions of my app: one h

[2020-01-24 03:20] ssokol commented on #190
Looks like thread safety is a feature of v5 and later, so I'll try moving to that.

[2020-01-24 16:52] ssokol opened #191 "Decoding GeoJSON"
This is more a question than an issue, but I'm having some challenges porting from v4 to v6, so...

My app pulls multiple GeoJSON strings from a database and uses GEOSwift to compare them with the current location (Coordinate) and forward vector (LineString) using the standard predicates. All of this worked in v4, but due to threading issues I've committed to moving up to the latest / greatest.

I

[2020-01-24 20:08] ssokol opened #192 "Race Condition in GEOS in v6"
Just upgraded to v6 in an attempt to placate the Thread Sanitizer, which was finding race conditions in GEOS in v4. I seem to still be hitting them in v6 - not sure if this is something specific to my code or if there are still issues with the limited use of GEOS in the new version.

Specifically, the issue appears to be happening in the geos::util::Interrupt::cancel() method. Here's the full dump

[2020-01-25 14:02] macdrevx commented on #191
Hi @ssokol, take a look at https://github.com/GEOSwift/GEOSwift/blob/master/GEOSwift/Core%20Types/GeoJSON.swift

If you decide to that type it should handle any valid GeoJSON.

[2020-01-25 16:05] macdrevx commented on #192
Looks like both threads are creating a new GEOS context. My understanding is that this is supposed to be thread-safe.

`GEOS_init_r` is used to create a new context. It [invokes](https://github.com/GEOSwift/geos/blob/master/Sources/geos/capi/geos_ts_c.cpp#L342) `geos::util::Interrupt::cancel()` which [sets](https://github.com/GEOSwift/geos/blob/master/Sources/geos/src/util/Interrupt.cpp#L36) a var

[2020-01-25 16:17] macdrevx commented on #192
Opened a ticket with the geos project: https://trac.osgeo.org/geos/ticket/1012

[2020-01-25 18:51] ssokol commented on #191
Thanks! But at the risk of exposing my woeful ignorance of modern Swift enums... What do you mean by "if you decide to that type"?

Would the decode look like:

[code]

From there, how do I know what the decoder decoded? In the v4 world the `fromGeoJSONDictionary` method always returned a sequence of Geometry objects that I could iterate over. What's the equivalent in v6 to do the same?

Apologies

[2020-01-26 13:50] macdrevx commented on #191
Oops, I made a typo. Instead of “decide” it should have said “decode”.

You can use pattern matching with switch/if/guard to create variable bindings to the data inside the enum value. I’ll post an example when I’m back at my computer.

[2020-01-26 14:36] macdrevx commented on #191
Okay, so here's an example:

According to the [spec](https://tools.ietf.org/html/rfc7946), the top-level GeoJSON object can either be a feature collection, a feature, or a geometry. The GEOSwift `GeoJSON` enum models this directly, so when you decode to that type, you then need to see which top-level type you received:

[code]

`FeatureCollection` and `Feature` are structs, but `Geometry` follows

[2020-01-26 14:39] macdrevx commented on #191
You can read more about [enums with associated values in the Swift docs](https://docs.swift.org/swift-book/LanguageGuide/Enumerations.html#ID148).

[2020-01-26 19:58] ssokol commented on #191
@macdrevx - thank you very much! I knew that enums were more than collections of named constants, but I really had not delved into the associated value bit at all. Your examples are awesome - I now get it!

I'm going to close this, but you might want to consider tossing those examples into the VERSION_5.md file for posterity.

[2020-01-26 19:58] #191 closed

[2020-01-31 15:38] macdrevx commented on #192
@ssokol I have some good news and some bad news. First, the bad news:

Our understanding of the root cause of the data race is correct. Multiple threads modify a shared value without synchronization. This would have to be fixed in GEOS. The impact is that if multiple threads try to use the interrupt mechanism simultaneously, there could be problems.

The good news is that GEOSwift doesn't ever req

[2020-01-31 18:39] ssokol commented on #192
Thanks for the update. I believe you are correct - I've not actually seen a crash that I can directly link to this. Please let me know if I can provide any additional information to you or to the GEOS team. I'll be happy to test updates as they become available.

[2020-01-31 20:31] jtchristie opened #193 "Expression of type 'Geometry' is unused."
I implemented the code into my MapView, but it brings up the warning. I want to put point markers on each of the locations in my GEOJson file.

[2020-01-31 20:52] macdrevx commented on #193
Hi @jtchristie, can you share some more info? Version of GEOSwift, example code that reproduces the issue.

[2020-02-01 03:14] jtchristie commented on #193
![image](https://user-images.githubusercontent.com/48321241/73586088-7e4f6080-445d-11ea-875c-82178ca0e494.png)

This is the code from my mapView. The GEOJson file has multiple locations, each of which I want to make a point.  I am using the most current version of GEOSwift using Cocoapods. I also added the Swift Package Manager because I thought that may have been the issue.

[2020-02-02 00:52] macdrevx commented on #193
Hi @jtchristie, it looks like you made it pretty far through decoding the GeoJSON. The warning that you're seeing just means that that line of code doesn't do anything. It evaluates the expression `coffeeMap` which is a `Geometry` but then that's all the line says, so it just goes on to the next line without doing anything else.

Regarding CocoaPods & Swift Package Manager, you shouldn't need both

[2020-02-02 17:07] macdrevx commented on #191
Glad this helped. I've updated the VERSION_5 doc based on your recommendation: https://github.com/GEOSwift/GEOSwift/blob/master/VERSION_5.md#common-questions

[2020-02-03 18:00] jtchristie commented on #193
Hi again, upon working with the code you gave me I noticed that the code within the if statement was not running. I used generic data from the GeoJSON Wikipedia page as test code to make sure that it wasn't formatting issues. So for some reason the if statement is not evaluating true and is printing the error. Please get back to me about this

![image](https://user-images.githubusercontent.com/483

[2020-02-03 18:14] macdrevx commented on #193
Can you share the example data that reproduces the problem?

[2020-02-03 18:30] jtchristie commented on #193
{
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [102.0, 0.5]
      },
      "properties": {
        "prop0": "value0"
      }
    },
    {
      "type": "Feature",
      "geometry": {
        "type": "LineString",
        "coordinates": [
          [102.0, 0.0], [103.0, 1.0], [104.0, 0.0], [105.0, 1

[2020-02-03 18:59] macdrevx commented on #193
So in that example, the top-level type is FeatureCollection, but your code is expecting a feature. Try this…

[code]

At that point, you'd need to update the rest of your code to handle multiple features (or just take the first feature in the feature collection).

(Also, in the future, when sharing code, please just copy paste instead of using screenshots. It makes it easier for others to try out

[2020-02-03 19:33] macdrevx commented on #193
I wanted to add that if you are directly controlling the data and you *know* what type it is, you can decode directly to that type rather than decoding to `GeoJSON` as an intermediate. You only need `GeoJSON` when you need to be able to handle any valid GeoJSON input.

[2020-02-05 13:15] #193 closed

[2020-02-07 19:23] macdrevx commented on #192
I'm going to go ahead and close this since there's no immediate risk caused by this issue. Hopefully a future version of GEOS resolves it.

[2020-02-07 19:23] #192 closed

[2020-02-07 20:58] ssokol commented on #192
As an FYI - I'm also getting a race condition on the addRef() function in GeometryFactory.cpp. Looks like the read call came from Polygon.geosObject(with:) while a write call happened when a polygon was created from WKT. No crash - just the warning from the sanitizer.

[2020-02-08 01:45] macdrevx commented on #192
@ssokol can you share the stack traces for those too? We can open another issue with GEOS

[2020-02-13 20:22] eandrade21 opened #194 "SPM-generated Xcode project does not build"
**Environment**

Swift Version: 5.1.3
Target: x86_64-apple-darwin19.3.0
MacOS: macOS Catalina 10.15.3

**Steps to Reproduce**

mkdir GeoZone
cd GeoZone
swift package init --type executable --name GeoZone
Update Swift.package as below
swift package update
swift package generate-xcodeproj
open GeoZone.xcodeproj
Build the executable - Cmd +B <-- ISSUE HERE

**Compile Error:**

/Users/eandrade/GeoZone

[2020-02-16 02:56] ueandrade commented on #188
@rausnitz were you able to solve this issue?

[2020-02-16 13:50] macdrevx commented on #194
Thanks @ueandrade. I'm able to reproduce this following the steps you provided. Not sure of the cause yet.

[2020-02-16 14:55] macdrevx commented on #194
The problem is that the geos target in the generated Xcode project has the Header Search Path `include` instead of `$(SRCROOT)/.build/checkouts/geos/Sources/geos/include`

<img width="1326" alt="Screen Shot 2020-02-16 at 9 49 48 AM" src="https://user-images.githubusercontent.com/205658/74606892-2c841880-50a2-11ea-946e-b7604e100281.png">

You'll have to change that setting after running `swift pack

[2020-02-16 15:15] macdrevx commented on #194
https://bugs.swift.org/browse/SR-12215

[2020-02-16 15:15] macdrevx commented on #188
I bet this is the same as #194

[2020-02-18 14:56] denisatoderean opened #195 "Cannot Install GEOSwift using spm or Carthage"
**Environment**

Xcode: 11.3.1
Swift Version: 5.1.3
MacOS: macOS Catalina 10.15.3

**crash**
dyld: Library not loaded: @rpath/geos.framework/geos
  Referenced from: "/Users/...."
  Reason: image not found

**Please update your instructions.**

I also tried installing it using **Carthage** but it doesn't generate any .framework

[2020-02-18 15:50] macdrevx commented on #195
Hi @denisatoderean, can you share the steps you followed and a `Package.swift` or `Cartfile` or other example project that we can use to recreate the issue?

[2020-02-18 16:07] denisatoderean commented on #195
Just add  `github "GEOSwift/GEOSwift" ~> 6.0.0` in the Cartfile and run `carthage update`
or add `https://github.com/GEOSwift/GEOSwift.git` in SPM. I don't need to create a no Package.swift file in my project.

[2020-02-26 16:31] bryan1anderson commented on #195
Same issue. All I did was plug in `.package(url: "https://github.com/GEOSwift/GEOSwift.git", from: "6.0.0")` to my package and then added "GEOSwift" as a dependency

[2020-02-28 01:27] macdrevx commented on #195
I just tried Carthage (v0.34.0) and SPM (5.1.3) and both are working for me.

Could either of you attach a zip of a sample project that I could use to try to reproduce the issue?

[2020-03-02 21:29] macoapps opened #196 "WKT decimals precision"
Hi,
there's a problem with the .wkt() function.
For example :
- I have a GeoJSON file with one point, with coordinates   x : -0.4225977, y : 46.3406448
- the GeoJSON object stores coordinates with a Double format. In debugger, values are x : -0.4225977**0000000002**, y : 46,3406448
- the string generated with wkt() contains the debugger values instead of the real ones
I think the generated string

[2020-03-05 03:30] macdrevx commented on #196
Hi @macoapps, thanks for sharing this. What you are describing is the default WKT writing behavior from geos. geos does offer some settings we can expose that would allow you to configure the level of precision being used (and whether it should trim trailing zeros). Let's consider this a feature request for a future version of GEOSwift.

If anyone is interested in working on this, we welcome contr

[2020-03-05 03:32] macdrevx commented on #195
Hi @denisatoderean and @bryan1anderson since I haven't heard from you and can't reproduce this issue, I'm going to close it for now. Please reopen it if you can attach a sample project that demonstrates the issue.

[2020-03-05 03:34] macdrevx commented on #188
@rausnitz @ueandrade I'm going to close this because I believe it's the same as #194. If you disagree, please feel free to reopen it with more info.

There's some discussion in #194 about the root cause, which is an issue with SPM. There's a workaround described there that might help you until it's fixed.

[2020-03-05 03:34] #188 closed

[2020-03-05 03:36] macdrevx commented on #194
I updated the title to try to help other folks find this if they're having similar issues.

[2020-03-13 09:34] macoapps commented on #196
This would be great ! That's exactly what I need :)

[2020-03-14 17:02] macdrevx commented on #196
@macoapps I've opened pull request #197 with this feature. Can you try it out and let me know if it meets your needs? Use branch `wkt-configuration-options` (Carthage, CocoaPods, and SPM all have mechanisms that let you specify a git branch instead of a version)

[2020-03-14 19:17] macoapps commented on #196
@macdrevx I've just made a few tests, and it seems to work for my own case, but I have a doubt about the roundingPrecision usage.
Here's the "good" WKT, with fixedPrecision: true, roundingPrecision: 16
Printing description of wkt2:
"MULTIPOLYGON (((-0.383860337784505 46.3508257183572, -0.383875940308913 46.3507981260314, -0.38388850451237 46.3507698127524, -0.383897900478926 46.3507407823792, -0.3

[2020-03-14 23:34] macdrevx opened #198 "Add CI tests to verify integration into test projects via CocoaPods, Carthage, and SPM"

[2020-03-15 00:05] macdrevx commented on #196
@macoapps I think it actually looks okay. When using fixed precision, you would ignore leading and trailing 0s when counting for precision. I'll add some more test cases to this PR that demonstrate a variety of different behaviors.

[2020-03-15 00:48] #179 closed

[2020-03-15 00:53] macdrevx commented on #196
Here's a link to the test cases I've added that demonstrate expected behaviors: https://github.com/GEOSwift/GEOSwift/pull/197/commits/71bbf2e22111bc18c66cc2360a04c212038a2eab#diff-8418771f54cbfe5b4dbc2ef25375bb9bR105

Note that these behaviors are defined by the underlying geos library, not GEOSwift, so we don't have too much room to modify them.

[2020-03-15 02:24] #196 closed

[2020-03-15 02:25] macdrevx commented on #196
I'm going ahead with releasing this change as v6.1.0. If we decide that what you described is actually a bug after all, we can do a patch.

[2020-03-15 19:18] macdrevx commented on #139
@ganisback @piyushvaish if you still need this feature, I've just pushed a [branch](https://github.com/GEOSwift/GEOSwift/tree/polygonize) that exposes polygonize and enables this use case. Here's an example of how you can do it:

[code]

which results in

[code]

(cleaned up for readability).

If you have a chance, give it a try and let me know how it works for your use case.

[2020-03-15 19:53] macoapps commented on #196
Sounds nice ! Thx for your awesome work 👍

[2020-03-15 19:54] #139 closed

[2020-03-15 19:59] macdrevx commented on #139
This is now available in v6.2.0. Enjoy!

[2020-03-22 23:43] #157 closed

[2020-03-23 19:07] denisatoderean commented on #195
[GEOSwiftError.zip](https://github.com/GEOSwift/GEOSwift/files/4371419/GEOSwiftError.zip)
Just run this project, I did nothing but plug it in using SPM

[2020-03-23 23:38] macdrevx commented on #195
Thank you, I can reproduce the problem using this sample project. I've been testing using swift on the command line, and it seems like this is set up differently than the way I've been testing. I'll see if I can figure out what's going on. In the meantime, maybe you could provide a more detailed description of exactly the steps you followed. A screen recording could be a good way to show it.

[2020-03-23 23:49] macdrevx commented on #195
@denisatoderean I think I see what the problem is, although I'm surprised that Xcode doesn't handle this more gracefully. GEOSwift depends on geos. geos is [configured](https://github.com/GEOSwift/geos/blob/master/Package.swift) to be a dynamic library, which means that for iOS apps it needs to be embedded in the app bundle. The example project you shared doesn't do that, but if you explicitly add

[2020-03-24 10:06] denisatoderean commented on #195
@macdrevx Meanwhile I have figured this out, but I was hoping you could update your documentation :)

[2020-03-24 14:11] macdrevx commented on #195
Will do

[2020-03-28 23:36] macdrevx commented on #195
Updated the readme with a note about this.

[2020-03-28 23:36] #195 closed

[2020-03-28 23:44] macdrevx commented on #195
It also appears as though this issue may be fixed with Xcode 11.4

[2020-04-30 08:33] borut-t commented on #195
I have an issue with the latest Xcode 11.4.1. I've included geos package also. I get this:
[code]

[2020-05-05 00:44] macdrevx commented on #195
Hi @borut-t. I think this sounds like a different problem. Can you open a new issue? I tried to reproduce it but I could not do so. Can you also attach a sample project that demonstrates the problem?

[2020-05-05 10:17] borut-t commented on #195
Hey @macdrevx. I've tried with a clean project and it works as expected 😞

However, here is the complete error message I am facing on my project if it helps:
<img width="1324" alt="Screenshot 2020-05-05 at 12 07 24" src="https://user-images.githubusercontent.com/677166/81056036-24ca5800-8eca-11ea-9f3f-3a2a7cc1ead9.png">

[2020-05-05 12:08] macdrevx commented on #195
Check out this thread. Sounds like this might be an issue with Xcode: https://github.com/Swinject/Swinject/issues/296

[2020-05-05 15:35] borut-t commented on #195
I can't believe turning off code coverage solved it. Thanks @macdrevx 🙌

[2020-06-17 18:03] michaeldclifford opened #203 "iOS Catalyst or macOS apps crash at runtime because the geos framework is unsigned"
macOS Catalina 10.15.5
Xcode 11.5 (11E608c)

Reproduction Steps:
- In Xcode, create a basic macOS or iOS Catalyst app
- Add GEOSwift via `File > Swift Packages > Add Package Dependency...`
- Attempt to run

The app will compile, but crashes at runtime with the following error:
[code]

[2020-06-17 18:32] macdrevx commented on #203
Hi @michaeldclifford, did you explicitly add both geos and GEOSwift as dependencies? We’ve seen issues like this in the past when only GEOSwift is added (even though it seems to us like that should work).

What version of Xcode are you using?

[2020-06-17 20:46] michaeldclifford commented on #203
I did not, and doing so did indeed solve the issue.

Apologies, I'm afraid I missed that line in the README.

[2020-06-17 20:46] michaeldclifford commented on #203
Thank you

[2020-06-17 20:46] #203 closed

[2020-07-08 13:46] borut-t opened #204 "App delivery issue with SPM"
When I push a build with GEOSwift installed via SPM, I get the following error:
`TMS-90562: Invalid Bundle - One or more dynamic libraries that are referenced by your app are not present in the dylib search path.`

I have two targets. Could that be the issue?

[2020-07-08 16:00] macdrevx commented on #204
@borut-t which platform are you building for? Which version of GEOSwift?

[2020-07-08 16:53] borut-t commented on #204
@macdrevx the latest version of GEOSwift on iOS.

[2020-07-17 19:49] macdrevx commented on #204
Thinking through a few things to check…

1. What version of Xcode/Swift?
2. It's probably not this, but just in case, did you list both GEOSwift and geos in your Package.swift?
3. If you export an archive build and then inspect the package contents, can you determine whether any dynamic libraries are missing from the bundle?
4. Have you made any customizations to the dylib search path in your targ

[2020-07-20 07:14] borut-t commented on #204
Xcode 11.6, Swift 5.2.x

No, just GEOSwift and GEOSwiftMapKit

Using `otool -L` command I can only see the following line related to geosswift:
`@rpath/geos.framework/geos (compatibility version 0.0.0, current version 0.0.0)`

I would say it should not be there since other SPM packages are also omitted here 🤔

I did not

[2020-07-31 01:33] macdrevx commented on #204
@borut-t sorry for the delayed reply. I recommend that you try listing [geos](https://github.com/GEOSwift/geos) in your Package.swift. Even though it's a dependency of GEOSwift, [other folks have encountered issues](https://github.com/GEOSwift/GEOSwift/issues/195) that were resolved by including it.

Even though your other SPM packages are omitted in the output from `otool -L` I believe it is corr

[2020-08-05 06:39] borut-t commented on #204
@macdrevx I've tried explicitly adding geos as a package and I get the following error:
`Undefined symbol: ___llvm_profile_runtime`

<img width="628" alt="Screenshot 2020-08-05 at 08 38 20" src="https://user-images.githubusercontent.com/677166/89379956-08bb9a00-d6f7-11ea-8f26-94dd9c181cba.png">

[2020-08-06 16:34] macdrevx commented on #204
Is it the same problem as we ran into before? https://github.com/GEOSwift/GEOSwift/issues/195#issuecomment-624016457

That time, sounds like you just had to disable code coverage.

[2020-08-10 08:48] borut-t commented on #204
@macdrevx I've totally forgotten we had the same issue before. It works now. Thanks 🙌

[2020-08-10 08:48] #204 closed

[2020-08-16 15:07] Ceylo commented on #204
So we have to choose between GEOSwift and code coverage? That's really a no-go for me…

[2020-08-16 15:11] Ceylo opened #205 "Incorrect license information"
According to https://github.com/GEOSwift/geos/blob/master/LICENSE geos is under GPL, not under LGPL.
More specifically, this makes GEOSwift GPL too, it cannot be MIT Licensed.

And this is contradictory with what's written in https://github.com/GEOSwift/GEOSwift/blob/master/README.md:

[2020-08-16 15:14] Ceylo commented on #205
Ok my bad I just read

in https://github.com/GEOSwift/geos/blob/master/README.md

This is confusing and I think you should update the license file to tell about the different parts. Right now the most obvious source of license info says GPL and GitHub says so too.

[2020-09-02 13:21] ElnazTaqizadeh opened #206 "Working with Empty Polygon"
I'm using GEOswift in an engineering plotting app. I need to define and work with empty polygons in different steps. Before the recent release, it was working perfectly fine, but now whenever I have an empty polygon/geometry, it gives me:

Here are some examples I have this issue with:

[code]

[code]
poly1 is an empty polygon so the program crashes when I'm trying to get a union.

What can I chan

[2020-09-03 14:54] macdrevx commented on #205
Thanks for the suggestion @Ceylo

[2020-09-03 16:57] macdrevx commented on #206
What are the definitions of `poly3` and `poly4` which are referenced in the lower code block?

[2020-09-03 17:43] macdrevx commented on #206
In testing the first part, I'm seeing that `poly1.intersection(with: poly2)` returns `nil` because the two polygons do not intersect. How would you expect to handle that case?

[2020-09-04 11:52] ElnazTaqizadeh commented on #206
Correct, the output is an empty polygon, and in the logic of my app, it should be fine. Here's a simple example; maybe it clarifies what I need to implement.

Let's say I have two sets:
[code]
I should be able to apply intersection and get an empty set as a result, right?
[code]
It's a similar case in what we have here with this polygon. I want to use the intersection method without the app crashi

[2020-09-04 14:50] macdrevx commented on #206
Supporting empty geometry is an interesting problem. Note that `"POLYGON((0 0, 0 0, 0 0, 0 0))"` isn't actually considered an empty polygon in WKT. Instead, there's a symbol `EMPTY` that indicates a geometry with 0 coordinates.

GEOSwift itself establishes invariants that preclude the possibility of empty Points, LineStrings, and Polygons (via Polygon.LinearRing). These invariants are useful to re

[2020-09-12 19:53] joeuelk opened #207 "Build fails after upgrading GEOSwift"
I had GEOSwift installed via cocoapods `pod 'GEOSwift', '2.2.0` working fine. I upgraded my project to Swift 5, updated cocoapods with `pod 'GEOSwift'` and am now getting the following errors:

[code]

I deleted the DerivedData folder, cleaned the build folder, and switched to installing GEOSwift with SPM but the same errors remain.

Any ideas? Were some of these features removed?

Thanks

[2020-09-12 21:08] joeuelk commented on #207
I see now things have changed in `VERSION_5.md`!

Closed.

[2020-09-12 21:08] #207 closed

[2020-09-14 22:23] joeuelk opened #208 "How to convert to a mapshape?"
I'm having trouble updating my code to work with API version 5.

I'm stuck on how to convert a decoded geojson to a MultiPolygon or Polygon to display as a map overlay.

[code]

I can load the geojson file, get it detected as a "feature" but haven't had much luck beyond that. I haven't found any sample code with the new API that covers this.

Thanks

[2020-09-14 23:59] joeuelk commented on #208
Closing for now

[2020-09-14 23:59] #208 closed

[2020-09-15 02:44] macdrevx commented on #208
@joeuelk if you want to share an example geojson, I’d be happy to help

[2020-09-26 14:30] ssokol commented on #190
I'm running the latest / greatest (geos (5.0.0), GEOSwift (7.1.0)) and still seeing data race issues like:

[code]

Anyone know how to resolve this?

[2020-09-26 17:34] macdrevx commented on #190
Looks like this is the same issue we saw in https://github.com/GEOSwift/GEOSwift/issues/192

[2020-09-26 18:31] ssokol commented on #190
Ah, that's the one I should have updated. Apologies for that.

[2020-09-27 20:25] macdrevx commented on #190
No problem. At any rate, the issue is in the underlying geos C/C++ library (https://trac.osgeo.org/geos/ticket/1012), so you'd need to submit a patch there to see it fixed. Keep in mind that since GEOSwift (as of this writing) never uses the interrupt mechanism, the value that is being written by multiple threads is never read, so it shouldn't create any problems for your application.

If you're a

[2020-09-28 15:27] ssokol commented on #190
Thank you. Just to double check: does the second warning about simultaneous writes to addRef() also have no practical impact on the application? I'm happy to ignore these if that's the case.

[2020-09-28 19:40] macdrevx commented on #190
Ah, I missed that there was a second one. Thanks for double checking.

So far, from what I can tell, it seems like every geos context uses a shared `GeometryFactory` that has a `_refCount` ivar to which access is not synchronized. That seems like a pretty big problem. I'll open a ticket on the project.

[2020-09-28 20:05] macdrevx commented on #190
Opened. https://trac.osgeo.org/geos/ticket/1052

Based on my reading of the geos source, I don't *think* this is going to create any actual problems, but I'd feel better if it weren't happening at all.

[2020-09-29 16:40] ssokol commented on #190
Thanks! Please let me know if anyone needs additional information from me.

[2020-10-25 11:24] Adraesh opened #209 "Geos build issue"
Hello,

I have an issue while building on Xcode 12.1:

[code]

I tried different things:

- Setting the Target membership of geos folder to Public
- Setting to YES "Allow Non-modular Includes in Framework Modules"

but still it's not working.

Thanks in advance.

EDIT: I forgot to mention that the issue happens only when using the Swift UI preview mode. I can build and play the app on simulator th

[2020-10-25 15:05] macdrevx commented on #209
Thanks for reporting this. Can you share a sample project we can use to reproduce the issue?

[2020-10-25 15:15] Adraesh commented on #209
Hello,

In fact I might post a bit fast on this github.

The issue is not related to GeoSwift pod/lib but to my Spatialite lib I compiled.

For those who can ran into the same issue, I simply replaced the include bellow:

[code]
by
[code]

And the preview mode works again.

Sorry for the disturbance here.

[2020-10-25 20:44] macdrevx commented on #209
No problem. Thanks for letting us know, and do let us know if you run into any other GEOSwift issues.

[2020-10-25 20:44] #209 closed

[2020-10-26 10:27] fenghedemo1 opened #210 "How to calculate the distance between two surfaces"
Hello, I am a novice in this field, my SWIFT level is not high, I can not understand your code, I would like to calculate a point to the surface of the distance, or face to face distance, how to do

[2020-10-26 16:36] macdrevx commented on #210
It sounds like you are working with 3D geometry. Is that true? GEOSwift only supports 2D geometry.

[2020-10-27 01:35] fenghedemo1 commented on #210
Is there any documentation for this library? I can't find the functionality I want in your code.
I think the function I want should be 2D

[2020-10-27 01:49] fenghedemo1 commented on #210
I'm using mapBox, and I want to realize the distance from one point to one face, or from one face to another.

[2020-10-27 01:53] fenghedemo1 commented on #210
Or is there a demo or something

[2020-10-27 07:07] fenghedemo1 commented on #210
My android colleague found the LIBRARY JTS, which can calculate the distance between the middle point and the surface of two-dimensional geometry. I found that the library is JAVA, which does not support iOS. Later, I discovered GEOS and finally found your library. I want to know how the methods provided in your library work. What do they stand for respectively

[2020-10-27 07:24] fenghedemo1 commented on #210
Can you provide a small demo of a function

[2020-10-27 08:58] fenghedemo1 commented on #210
Hello, I'm going to call your short method, I saw this method is public func short (to geometry: GEOSwift. GeometryConvertible) throws - > Double

I need to encapsulate a method to compute them and here's my method, can Polygon and Polygon1 only be initialized by the bottom like this? Can I pass coordinates into polygon and Polygon1 initialization by my for loop for Coords in Coordinates above? He

[2020-10-27 08:59] fenghedemo1 commented on #210
Hello, I'm going to call your distance method, I saw this method is public func distance (to geometry: GEOSwift. GeometryConvertible) throws - > Double

I need to encapsulate a method to compute them and here's my method, can Polygon and Polygon1 only be initialized by the bottom like this? Can I pass coordinates into polygon and Polygon1 initialization by my for loop for Coords in Coordinates abo

[2020-10-27 09:01] fenghedemo1 commented on #210
I want to know how to pass the latitude and longitude from the for loop to Polygon and Polygon1 to call your method distance

[2020-10-27 18:29] macdrevx commented on #210
Does this help?

[code]

I'm not sure I understand what you're trying to do, so please let me know if this isn't what you need.

[2020-10-28 06:52] fenghedemo1 commented on #210
Yes, thank you. I find that most of the operations provided in the library are between two geometries. Can the library determine if there are intersections in a plane? In other words, it's a face, is there any overlap.
<img width="810" alt="WeChatd48a17d1b7ec8122a8c2ed577e61fe71" src="https://user-images.githubusercontent.com/15060009/97402190-14e97900-192d-11eb-9729-8383638fe1cf.png">
The top one

[2020-10-28 06:53] fenghedemo1 commented on #210
<img src="https://user-images.githubusercontent.com/15060009/97402281-43ffea80-192d-11eb-8a92-94d2a4b0d977.png">